.v--modal-overlay {
    background: rgba(0, 0, 0, 0.9);
    .v--modal-box {
        overflow-y: auto;
    }
}

.modal {
    @media (max-width: $small-screen) {
        margin: 0;
    }

    &-content {
        background-color: rgb(255, 255, 255);
        border-radius: 0;
        height: auto;
        overflow-y: auto;
    }

    &-header {
        display: flex;
        align-items: flex-start; // so the close btn always stays on the upper right corner
        justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
        padding: 0.5rem 1.5rem;
        border-color: $dark-white;
        align-items: center;
        min-height: 40px;
        border-bottom: 1px solid $light-grey;

        h5 {
            margin: 0;
        }
        .close {
            padding: 10px;
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000000;
            text-shadow: 0 1px 0 #ffffff;
            opacity: 0.5;
            background-color: transparent;
            border: 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        .modal-title {
            font-size: 16px;
            line-height: 22px;
            span {
                font-family: bold;
            }
        }

        .close span {
            font-family: light;
        }
    }

    &-body {
        padding: 1rem 1.5rem;

        h2 {
            font-size: 24px;
            line-height: 32px;
            color: $black;
        }
        span {
            font-family: light;
            color: $light-black;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    form .form-control {
        border-bottom: 1px solid $grey;
    }

    &-footer {
        display: flex;
        align-items: center; // vertically center
        justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
        padding: 1rem 1.5rem;
        justify-content: flex-start;
        border-top: none;
        min-height: 50px;

        // Easily place margin between footer elements
        > :not(:first-child) {
            margin-left: 0.25rem;
        }
        > :not(:last-child) {
            margin-right: 0.25rem;
        }

        &.footer-download {
            padding: 0.6rem 1.5rem;
            justify-content: center;
            background-color: $dark-white;
            a {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }

            span {
                display: flex;
                align-items: center;
                font-size: 12px;
                color: $light-black;
                transition: $transition;

                &:hover {
                    color: $orange;
                }

                i {
                    font-size: 18px;
                    color: $orange;
                    margin-right: 7px;
                }
            }
            span:last-child {
                margin-right: 0;
            }
        }
    }
}

.share {
    margin-bottom: 20px;
    .share-list {
        display: flex;
        list-style-type: none;
        padding-left: 10px;
        margin: 0;

        li {
            a {
                display: flex;
                margin-right: 15px;
                text-decoration: none;
                cursor: pointer;
                i {
                    margin-right: 5px;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 0;
                    margin-top: 0;
                }
            }
        }
    }
}
.step-dots {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;

    .dots {
        width: 7px;
        height: 7px;
        border-radius: 50px;
        background: $grey;
        margin-right: 8px;
        cursor: pointer;

        &.active {
            background: $orange;
        }
    }
    .dots:last-child {
        margin-right: 0;
    }
}

.v--modal.vue-dialog {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    /*min-width: 550px;
    min-height: 250px;*/
    border-radius: 0;
    .dialog-content {
        padding: 0;
    }

    .dialog-c-title {
        border-bottom: 1px solid $light-grey;
        h5 {
            padding: 10px 20px;
            font-size: 16px;
            font-family: bold;
        }
    }
    .dialog-c-text {
        padding: 20px;
    }
    .vue-dialog-buttons {
        border-top: none;
        padding-left: 10px;

        .btn {
            background-color: $white;
            border-color: $lighter-black;
            color: $lighter-black;

            &:hover {
                background-color: darken($white, 5%);
                color: $black;
                border-color: $grey;
            }
        }
        .btn-filled {
            background-color: $orange;
            border-color: transparent;
            color: $white;
            &:hover {
                background-color: darken($orange, 15%);
                color: $white;
            }
        }
        button {
            margin: 20px 10px;
            max-width: 180px;
            padding: 18px 0px;
        }
    }

}
