.body-header {

	display: flex;
	flex-direction: column;
	padding: 1.5rem 110px;

	@media (max-width: $small-screen) {  
        padding: 20px;
    }

	h1 {
		font-size: 36px;
		line-height: 46px;
	}
	.author, .date {
		font-family: light;
		font-size: 12px;
		line-height: 17px;
		color: $dark-grey;
	}
}

.body-body {

	.content {
		width: 100%;
		color: $black;
		padding: 40px 110px;
		
		@media (max-width: $small-screen) {  
	        padding: 20px;
	    }
		.intro {
			margin-bottom: 25px;

			p {
				font-size: 18px;
				line-height: 28px;
				text-align: left;
				color: $light-black;
			}
		}

		.share {
			display: flex;
			color: $orange;
			margin-bottom: 20px;
			margin-top: 50px;
			padding-top: 20px;
			border-top: 1px solid $grey;
			a {
				color: $orange;

				&:hover {
					color: darken($orange, 10%);
				}
			}
		}

		.text {
			p {
				color: $light-black;
			}
		}
	}
}

.modal.large .modal-body {
	padding: 1rem 0;
}