.mobile-btn {
	display: none;
	color: $orange;
	position: fixed;
	right: 20px;
	top: 10px;
	font-size: 45px;
	z-index: 100;

	@media (max-width: $small-screen) {
		display: inline-block;
	}
}

.dropdown-arrow  {
	display: none;
	color: $orange;
	position: absolute;
	right: 0px;
	top: 5px;
	font-size: 60px!important;
	z-index: 100;
	transform-origin: 50% 50%;

	@media (max-width: $small-screen) {
		display: inline-block;
	}

	&.rotate {
		transform: rotate(180deg);
	}
}
