<template>
  <modal
    name="addEditShortcut-modal"
    transition="nice-modal-fade"
    classes="modal"
    :min-width="200"
    :min-height="200"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    height="auto"
    @before-open="beforeOpen"
  >
    <div class="modal-content">
      <!-- Modal -->
      <div
        class="modal fade"
        id="m-dialog"
        tabindex="-1"
        role="dialog"
        aria-labelledby="m-dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ modal_title }}</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="hideModal"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" required v-model="link.title">
                  <label for="shortcut-name">{{ modal_title_label }}</label>
                </div>
                <div class="form-group">
                  <input value="https://" pattern=.*\S.* id="linkUrl" type="url" class="form-control input-link" required v-model="link.link">
                  <label for="link">{{ modal_link_label }}</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="btn btn-grey" @click="hideModal">{{ modal_close }}</div>
              <div class="btn btn-filled" @click="saveLink" :class="{ notActive: disable()}">{{ modal_save}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import axios from "axios";
import optionsMixin from "../../mixins/mixins.js";

export default {
  name: "addEditShortcutModal",
  mixins: [optionsMixin],
  data() {
    return {
      title: "",
      widgetId: "",
      link: {
        title: "",
        link: "https://",
        order: "",
        id: ""
      },
      modal_title: "",
      modal_close: "",
      modal_save: "",
      modal_title_label: "",
      modal_link_label: ""
    };
  },
  methods: {

    disable: function (){
      var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
      var validUrl = regexp.test(this.link.link);

      if( !validUrl ||this.link.title === "" || this.link.link === "" || this.link.title === undefined || this.link.link === undefined){
        return true
      } else {
        return false;
      }
    },
    beforeOpen(e) {
      this.modal_title = this.getDicItem('modal_add_link_title')
      this.modal_close = this.getDicItem("modal_shortcut_close")
      this.modal_save = this.getDicItem("modal_shortcut_save_close")
      this.modal_title_label = this.getDicItem("modal_add_title_label")
      this.modal_link_label = this.getDicItem("modal_add_weblink_label")

      this.title = (e.params.title != undefined) ? e.params.title : "";
      this.widgetId = (e.params.widgetId != undefined) ? e.params.widgetId : "";
      this.link.title = (e.params.link.title != undefined) ? e.params.link.title : "";

      this.link.link = (e.params.link.link != undefined) ? e.params.link.link : "http://";
      this.link.order = (e.params.link.order != undefined) ? e.params.link.order : e.params.length + 1;
      this.link.id = (e.params.link.id != undefined) ? e.params.link.id : "";

    },
    saveLink: function() {
      var updatedLink = false;

      if(this.link.id != ""){
        this.updateHistory({
          title: this.link.title,
          link: this.link.link,
          linkId: this.link.id,
          widgetId: this.widgetId,
          tabNumber: this.link.order,
          token: this.$route.params.accessToken
        })
        updatedLink = true;
        this.hideModal();

      } else{
        var id = this.saveToHistory({
          title: this.link.title,
          link: this.link.link,
          widgetId: this.widgetId,
          tabNumber: 99,
          token: this.$route.params.accessToken
        });
        this.$modal.hide("addEditShortcut-modal");
      }
      this.$root.$emit("updateAddLinks", {
        id: updatedLink ? this.link.id : id,
        title: this.link.title,
        link: this.link.link,
        widgetId: this.widgetId,
        order: this.link.order,
        updatedLink: updatedLink
      });
      this.gtm('cta', 'cta personal link: save / add link ' +  '(' + this.link.title + ') - ' + this.link.link, this.widgetId, this.title)
    },
    hideModal: function() {
      this.gtm('cta', 'cta personal link: close modal / add link ', this.widgetId, this.title)
      this.$modal.hide("addEditShortcut-modal");
    }
  }
};
</script>
<style lang="scss">

  .modal form .form-group label {
    left: 0;
  }
.icon-list {
  margin-top: 35px;
  list-style-type: none;
  padding-left: 0px;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;

      span {
        font-family: bold;
        color: $orange;
      }
    }

    i {
      align-self: flex-start;
      font-size: 36px;
      border-radius: 50px;
      padding: 8px;
      background: $dark-white;
      margin-right: 25px;
    }

    .fi {
      font-size: 32px;
      padding: 10px;
    }
  }
}
</style>
