<template>
  <modal
    name="feed-modal"
    transition="nice-modal-fade"
    classes="modal feedmodal"
    height="90%"
    width= "40%"
    :adaptive="true"
    :scrollable="false"
    :reset="true"
    @before-open="beforeOpen"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ this.title }}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="hideModal"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul v-if="this.feed.length > 0" class="widget-list link-list modal-link-list">
            <li v-for="(item, index) in feed" :key="index">
              <a class="link" target="_blank" :href="typeof item.title == 'object' ? item.link._text : item.link != undefined ? item.link : item.url">
                <small v-if="item.cat">{{ item.cat }}</small>
                <p v-if="typeof  item.title != 'object'">{{item.title}}</p>
                <p v-else>{{item.title._text}}</p>
                <small v-if="typeof  item.pubDate != 'object'">{{ item.pubDate}}</small>
                <small v-else>{{ item.pubDate._text}}</small>
                <small v-if="item.desc" v-html="item.desc"></small>
              </a>
            </li>
          </ul>
          <div
            v-if="multifeed.length > 0"
            v-for="(item, index) in multifeed"
            :key="index"
            class="section"
          >
            <h3>{{item.title}}</h3>
            <ul class="widget-list link-list modal-link-list">
              <li v-for="(link, i) in item.forms" :key="i">
                <a class="link" target="_blank" :href="link.url">
                  <p>{{link.title}}</p>
                  <small v-html="link.description"/>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
export default {
  name: "FeedModal",
  data() {
    return {
      title: "",
      feed: [],
      multifeed: []
    };
  },
  methods: {
    beforeOpen(e) {
      this.title = e.params.title;
      this.feed = e.params.feed != undefined ? e.params.feed : [];
      this.multifeed =
        e.params.multifeed != undefined ? e.params.multifeed.items : [];

    },

    hideModal: function () {
      this.$modal.hide("feed-modal");
    }
  }
};
</script>
<style lang="scss">
.feedmodal {
    .modal-content
    {
        box-sizing: border-box;
        .modal-header
        {
            box-sizing: border-box;
            position: fixed;
            background-color: #fff!important;
            padding: 0.5rem 1.3rem;
            width: 39%;
            z-index: 2000;
        }
        .modal-body {
            padding-top: 90px;
        }
    }
}


.modal-body {
    padding-top: 70px;
}
.modal-body .widget-list {
  max-height: 90%;
}
li {
  a {
    color: $black;
    p {
        width: 100%;
      }
  }

}
ul.widget-list.link-list.modal-link-list li::before{
  top: 8px;
}
</style>
