<template>
  <modal
    name="help-modal"
    transition="nice-modal-fade"
    classes="modal"
    :min-width="200"
    :min-height="200"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    height="auto"
    @before-open="beforeOpen"
    @closed="closed"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{getDicItem("help_title")}}
        </h5>
        <button type="button" class="close" @click="hideModal(), gtm('modalhelp','modalhelp close', 'null', 'null', 'modalhelp')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" v-for="(guidePage, index) in guide" :key="index" v-if="step == index">
        <h2>{{guidePage.Title }}</h2>
        <ul class="icon-list">
          <li
            v-for="(item, i) in JSON.parse(guidePage.Items)"
            :key="i"
            v-if="guidePage.Items != null"
          >
            <i :class="item.icon" v-if="item.icon != null"></i>
            <span v-html="item.text" v-if="item.text != null"></span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-grey" @click="step--, gtm('modalhelp','modalhelp previous', 'null', 'null', 'modalhelp')" v-if="step > 0">{{getDicItem("help_prev")}}</div>
        <div class="btn btn-filled" @click="step++, gtm('modalhelp','modalhelp next', 'null', 'null', 'modalhelp')" v-if="step != guide.length-1">{{getDicItem("help_next")}}</div>
        <div class="btn btn-filled" @click="hideModal(), gtm('modalhelp','modalhelp done', 'null', 'null', 'modalhelp')" v-if="step == guide.length-1">{{getDicItem("help_done")}}</div>
        <div class="step-dots">
          <div @click="goto(i-1), gtm('modalhelp','modalhelp dots', 'null', 'null', 'modalhelp')" class="dots" v-for="i in guide.length" :key="i" :class="{active: step == i-1}"></div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import optionsMixin from "../../mixins/mixins.js";
export default {
  name: "HelpModal",
  mixins: [optionsMixin],
  data() {
    return {
      step: 0,
      guide: []
    };
  },
  methods: {
    goto(num) {
        this.step = num;
    },

    beforeOpen(e) {
      this.guide = e.params.guide;
      this.$cookie.set("showFirstTimeGuide", false, 30);

    },
    closed(e) {
      this.step = 0;
    },
    hideModal: function (){
      this.$modal.hide("help-modal");
      this.step = 1;
    },
    stepHandler: function(direction) {
      if (direction) {
        this.step++;
      } else {
        this.step--;
      }
    }
  }
};
</script>
<style lang="scss">

.icon-list {
  margin-top: 35px;
  list-style-type: none;
  padding-left: 0px;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;

      span {
        font-family: bold;
        color: $orange;
      }
    }

    i {
      align-self: flex-start;
      font-size: 36px;
      border-radius: 50px;
      padding: 8px;
      background: $dark-white;
      margin-right: 25px;
    }

    .fi {
      font-size: 32px;
      padding: 10px;
    }
  }
}
</style>
