<template>
  <modal
    name="news-modal"
    transition="nice-modal-fade"
    classes="modal news-modal"
    height="90%"
    width="100%"
    :adaptive="true"
    :scrollable="false"
    :reset="true"
    @before-open="beforeOpen"
  >
    <div class="m-nav">
      <a v-show="!hidePrev" @click.prevent="prevNews()">
        <div class="prev">
          <i class="icon-arrow-left"></i>
        </div>
      </a>
      <a v-show="!hideNext" @click.prevent="nextNews()">
        <div class="next">
          <i class="icon-arrow-right"></i>
        </div>
      </a>
    </div>
    <div  id="topDiv" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalHeader">{{title}}</h5>
        <button
          @click="hideModal()"
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="body-header">
          <h1 id="header">{{ title }}</h1>

          <!-- <span class="author">af Flemming Kønig Mejl</span>  -->
          <span class="date">{{ date | formatDate}}</span>
        </div>
        <div id="modal-top" class="body-body">
          <img alt="demo" :src="image">
          <div class="content">
            <div class="intro">
              <p>{{ manchet }}</p>
            </div>
            
            <div class="text" v-html="text"></div>
            <div class="share">
              <p>Del artiklen:</p>
              <social-sharing :url="link" network-tag="a" inline-template>
                <ul class="share-list">
                  <li>
                    <network network="email">
                      <i class="fi flaticon-eyeglasses"></i>
                      <p>Email</p>
                    </network>
                  </li>
                  <li>
                    <network network="linkedin">
                      <i class="fi flaticon-like-1"></i>
                      <p>Linkedin</p>
                    </network>
                  </li>
                </ul>
              </social-sharing>
            </div>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>
<script>
import axios from "axios";

export default {
  name: "NewsModal",
  components: {},
  data() {
    return {
      allNews: [],
      index: null,
      title: "",
      date: "",
      manchet: "",
      text: "",
      link: "",
      image: "",
      hidePrev: false,
      hideNext: false
    };
  },
  methods: {
      beforeOpen(el) {
      this.title = el.params.title;
      this.index = el.params.index;
      this.allNews = el.params.allNews;
      this.newsContent(this.index);
      this.hidePrev = false;
      this.hideNext = false;
    },
    hideModal: function () {
      this.$modal.hide("news-modal");
    },
    newsContent(index) {
      this.title = this.allNews[index].title;
      this.date = this.allNews[index].date_published;
      this.manchet = this.allNews[index].manchet;
      this.link = this.allNews[index].link;
      this.image = this.allNews[index].image_bg;

      axios
        .get(this.allNews[index].link_stripped)
        .then(response => {
          this.text = response.data;
        })
        .catch(error => console.log(error));
    },
      prevNews: function () {
      this.index--;
      if (this.index >= 0) {
        this.newsContent(this.index);
        this.hideNext = false;
      }
      if (this.index == 0) {
        this.hidePrev = true;
      }
    },
      nextNews: function () {
      this.$nextTick(() => {
          this.$scrollTop
      });
      this.index++;
      if (this.index <= this.allNews.length) {
        this.newsContent(this.index);
        this.hidePrev = false;
        
      }
      if (this.index + 2 > this.allNews.length) {
          this.hideNext = true;
          
      }
    }
  }
};
</script>
<style lang="scss" scoped>
h1.stripped_title {
  display: none !important;
}

.news-modal {
  .modal-content {
    position: relative;
    width: 50%;
    margin: auto;
    height: 100%;

    .modal-header {
      position: fixed;
      background-color: $white;
      width: 47%;
      padding: 0.5rem 1.3rem;
    }
    .modal-body {
      padding-top: 70px;
    }
  }
}
.body-header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 110px;

  @media (max-width: $small-screen) {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
    line-height: 46px;
  }
  .author,
  .date {
    font-family: light;
    font-size: 12px;
    line-height: 17px;
    color: $dark-grey;
  }
}

.body-body {
  .content {
    color: $black;
    padding: 40px 110px;

    @media (max-width: $small-screen) {
      padding: 20px;
    }
    .intro {
      margin-bottom: 25px;

      p {
        font-size: 18px;
        line-height: 28px;
        text-align: left;
        color: $light-black;
      }
    }

    .share {
      display: flex;
      color: $orange;
      margin-bottom: 20px;
			margin-top: 50px;
			padding-top: 20px;
			border-top: 1px solid $grey;
      a {
        color: $orange;

        &:hover {
          color: darken($orange, 10%);
        }
      }
    }

    .text {
      p {
        color: $light-black;
      }
      .greybox {
          background: #f1f2f2;
          padding: 15px;
          display: block;
          margin: 15px 0;
      }
    }
  }
}

.modal-body {
  padding: 1rem 0;
}
</style>
