<template>
  <modal
    name="price-modal"
    transition="nice-modal-fade"
    classes="modal pricemodal"
    :min-width="200"
    width="60%"
    :min-height="200"
    height="80%"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    @before-open="beforeOpen"
  >
    <!-- Modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ this.title }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          @click="hideModal"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" v-html="this.feed"></div>
      <div class="modal-footer">
        <div class="btn btn-filled" @click="hideModal">Luk</div>
      </div>
    </div>
  </modal>
</template>
<script>
import axios from "axios";
//Mixins
import optionsMixin from "../../mixins/mixins.js";
export default {
  name: "PriceModal",
  mixins: [optionsMixin],
  data() {
    return {
      title: "",
      feed: ""
    };
  },
  methods: {
    beforeOpen(e) {
      this.title = e.params.title;
      axios
        .get(e.params.url)
        .then(response => {
          this.feed = response.data;
        })
        .catch(error => console.log(error));
    },

      hideModal: function () {
      this.$modal.hide("price-modal");
    }
  }
};
</script>
<style lang="scss" >
.pricemodal {
    .modal-content
    {
        box-sizing: border-box;
        .modal-header
        {
            box-sizing: border-box;
            position: fixed;
            background-color: #fff !important;
            padding: 0.5rem 1.3rem;
            width: 58%;
            z-index: 2000;
        }

        .modal-body {
            padding-top: 90px;
        }
    }
}
</style>
