﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.Services;

@{
    var root = Model.Root();
    var theme = root.Value<string>("themeSelected");
    //var themeStyle = "/assets/css/" + (!string.IsNullOrEmpty(theme) ? theme : "theme-commune")     + ".css";
    var BaseUrl = root.UrlSegment().TrimEnd('/');

    IUserService us = Services.UserService;
}
<head prefix="og: http://ogp.me/ns#">



    <!--Open Graph Metas-->
    <meta property="og:url" content="@(Request.Url.Scheme + "://" + Request.Url.Host)@Model.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:updated_time" content="@Model.UpdateDate" />
    <meta property="og:description" content="" />
    <meta name="keywords" content="">
    
    @*<meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Host)@metaImage.GetCropUrl(cropAlias: "Meta", quality:70, useCropDimensions:true, furtherOptions:"&format=jpeg")" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="">*@

    <meta property="og:site_name" content="">
    <meta property="og:locale" content="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName">
    <meta name="robots" content="">
    <meta name="google-site-verification" content="@root.Value("googleSiteVerification")">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />

    <meta name="author" content="@Model.CreatorName" />

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, width=device-width" />
    <title>@(!string.IsNullOrEmpty(Model.Value<string>("title")) ? Model.Value("title") : Model.Name) @(!string.IsNullOrEmpty(root.Value<string>("sitename")) ? "| " + root.Value("sitename") : "")</title>
    <link href="~/assets/css/base-variables.css" rel="stylesheet" />
    <link async href="~/assets/css/theme-naestved.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
