.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border: 1px solid white;
    color: $white;
    transition: $transition;
    cursor: pointer;
    font-size: 14px;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: darken($white, 5%);
        color: $black;
        border-color: $grey;
    }
}

.btn-align-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.btn-filled {
    background-color: $orange;
    border-color: $orange;

    &:hover {
        background-color: darken($orange, 15%);
        color: $white;
    }
}

.btn-light {
    justify-content: flex-start;
    border: none;

    i {
        color: $orange;
        font-size: 25px;
        margin-right: 10px;
    }

    &:hover {
        background-color: none;
    }
}

.btn-grey {
    color: $grey;
    border: 1px solid $grey;
}

.btn-white {
    color: $orange;
    border: 1px solid $orange;
    font-size: 12px;

    &:hover {
        background-color: $orange;
        color: $white;
    }
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    position: relative;

    .icon-btn {
        position: absolute;
        left: 0;
        margin-right: 20px;
    }
    .btn {
        align-self: center;
        margin: 0 0 0 10px;
        margin-bottom: 0;
    }

    @media (max-width: $small-screen) {
        flex-direction: column;

        .btn {
            margin: 25px 10px;
        }
    }
}

.btn-icon {
    position: relative;
    justify-content: flex-start;
    padding: 15px 40px;
    background-color: $orange;
    color: $white;
    font-size: 12px;
    cursor: pointer;

    &:hover {
        background-color: darken($orange, 10%);
        color: $white;

        i {
            color: $white;
        }
    }
    i {
        position: absolute;
        font-size: 30px;
        top: 9px;
        left: 5px;
        color: $white;
        transition: $transition;
    }
}

.icon-btn {
    border: 1px solid $dark-white;
    border-radius: 50%;
    padding: 10px;
    font-size: 23px;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $dark-white;
    }
    &.left {
        transform: rotate(-90deg);
    }
}
// *********************** //
// Widget Buttons          //
// *********************** //

.widget {
    .btn-group {
        justify-content: space-between;

        .group {
            display: flex;
            .btn-icon {
                margin-right: 15px;
            }
            @media (max-width: $small-screen) {
                a {
                    margin-bottom: 10px;
                }
            }
        }

        @media (max-width: $small-screen) {
            align-items: flex-start;

            .btn {
                margin: 10px 0;
            }
            .group {
                flex-direction: column;
            }
        }
    }

    .btn {
        border-color: $orange;
        font-size: 14px;

        &:hover {
            color: $white;
            background-color: darken($orange, 5%);

            i {
                color: $white;
            }
        }

        @media (max-width: $small-screen) {
            margin-right: 0;
        }
    }
    .btn-light {
        padding: 0;

        i {
            position: relative;
            transition: $transition;
            left: 0;
        }

        &:hover {
            background-color: transparent;
            i {
                color: $orange;
                left: 5px;
            }
        }
    }
    .btn-widget {
        display: inline-block;
        justify-content: center;
        align-items: center;
        border: 1px solid $orange;
        color: $white;
        background-color: $orange;
        transition: $transition;
        cursor: pointer;
        padding: 15px 40px;
        font-size: 14px;
        max-height: 54px;

        &:hover {
            background-color: darken($orange, 5%);
        }

        &.align-right {
            margin-top: 15px;
            margin-left: auto;
        }
    }

    .btn-clear {
        background-color: transparent;
        border-color: $orange;

        &:hover {
            background-color: $orange;
        }
    }
    .btn-icon {
        position: relative;
        justify-content: flex-start;
        padding: 15px 40px;
        background-color: transparent;
        margin-right: 0;

        &:hover {
            i {
                color: $white;
            }
        }
        i {
            position: absolute;
            font-size: 27px;
            top: 13px;
            left: 5px;
            color: $orange;
            transition: $transition;
        }
    }

    .expand-list-btn {
        margin-top: 25px;
    }

    .widget-footer {
        .expand-list-btn {
            margin-top: 0px;
        }
    }

    .dropdown-btn {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;

        .filter {
            width: 65%;

            @media (max-width: $small-screen) {
                width: 100%;
            }
        }
        .select {
            margin-right: 0;
            margin-bottom: 0;
            width: 100%;
        }

        .btn-widget {
            display: flex;

            width: auto;
            text-align: center;

            @media (max-width: $small-screen) {
                width: auto;
                margin: 15px 0;
            }
        }
    }
}

.m-nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2000;
    top: 50%;

    .prev,
    .next {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        padding: 10px 0px;
        font-size: 36px;
        color: $orange;
        transition: $transition;

        &:hover {
            color: $white;
            background: $orange;
        }

        @media (max-width: $small-screen) {
            font-size: 20px;
            background: $orange;
            color: $white;

            &:hover {
                background: $white;
                color: $orange;
            }
        }
    }

    .prev {
        position: absolute;
        left: 0;
    }

    .next {
        position: absolute;
        right: 17px;

        @media (max-width: $small-screen) {
            right: 0;
        }
        @media (max-width: $medium-screen) {
            right: 0;
        }
    }
}
