.notActive {
    background: $dark-grey !important;
    cursor: not-allowed !important;
    -webkit-touch-callout: none;
    pointer-events: none !important;

    &::placeholder {
        color: $black;
    }

    a,
    ul,
    p,
    input {
        pointer-events: none !important;
        user-select: none;
        border-color: transparent;
        color: $black;
    }
    

    div & {
        // opacity: 0.7;
    }

    &.btn, &.btn-widget, .btn, .btn-widget {
        cursor: not-allowed !important;
        background: $orange !important;
        opacity: .6;
        border-color: transparent;

        a {
            color: $white !important;
        }
    }

    &.btn_search {
        background-color: $lighter-black;

        .icon-search {
            color: rgba($white, 0.5);
        }
    }
}
 input:disabled {
    background-color: $lighter-black;
}
