@import "variables.scss";
@import "global.scss";
@import "icons.scss";
@import "buttons.scss";
@import "input-search.scss";
@import "list.scss";
@import "disable.scss";
@import "textstyles.scss";
@import "radiobuttons";
@import "pvs-pricelist";



.pricelist td {
  margin-bottom: 20px;
  border-bottom: 0.5px solid rgba($dark-grey, 0.2);
  height: 40px;
  vertical-align: bottom;
  padding-bottom: 10px;
}

