.owl-nav {
		position: absolute;
		right: 5px;
		bottom: 5px;

		.owl-prev, .owl-next {
			background-color: $white;
			color: $orange;
			border-radius: 0;
			margin: 0;
			transition: $transition;

			i {
				font-size: 18px;
			}

			&:hover {
				background-color: $orange;
				color: $white;
			}
		}

		.owl-prev {
			 transform: rotate(270deg);
		}

		.owl-next {
			transform: rotate(90deg);
		}
	}

	.owl-dots {
		position: absolute; 
		left: 20px;
		bottom: 0;

		.owl-dot {

			&:hover {
				span {
					background: $orange;
				}
			}
			span {
				transition: $transition;
				background: transparent;
				border: 1px solid $grey;

				&:hover {
					background: $orange;
				}
			}

			&.active {
				span {
					background: $orange;
				}
			}
		}
	}