// textstyle

h1 {
    font-family: regular;
    font-weight: 100;
    font-size: 60px;
    line-height: 34px;
}

h2 {
	font-family: regular;
	font-size: 30px;
	line-height: 34px;
	color: $white;
}

p, small { 
    font-family: regular;
}

.list-title {
	color: $white;
	font-size: 14px;
	margin-bottom: 0;
}

.intro {
	h1 {
		font-family: light;
		font-size: 60px;
		line-height: 34px;
		color: $white;
		margin-bottom: 30px;
		text-align: center;
		
		@media (max-width: $small-screen) {   
	        font-size: 40px;
	        line-height: 38px;
	    }
		span{
			font-family: bold;
		}
	}
	p {
		color: $white;
		font-size: 20px;
		line-height: 28px;
		text-align: center;		
	}
}

