.utils-wrapper {
  overflow: auto;
}

.utils {
  padding: 30px;
  width: 100%;
  background-color: #fff;

  h3 {
    font-family: regular;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  // COLORS
  .color-boxes {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
    width: 100%;

    .box {
      p {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }
    .color-box {
      width: 100px;
      height: 100px;
      background-color: #fb8631;
      margin-right: 30px;
      margin-bottom: 10px;
    }

    #orange {
      background-color: $orange;
    }
    #black {
      background-color: $black;
    }
    #light-black {
      background-color: $light-black;
    }
    #grey {
      background-color: $grey;
    }
    #dark-grey {
      background-color: $dark-grey;
    }

    #white {
      border: 1px solid $grey;
      background-color: $white;
    }
    #dark-white {
      background-color: $dark-white;
    }
    #green {
      background-color: $green;
    }
    #red {
      background-color: $red;
    }
  }

  // ICONS

  .icons {
    display: flex;
    margin: 20px 0;

    ul {
      padding-left: 0;
      margin-right: 70px;
      list-style-type: none;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        i {
          font-size: 38px;
        }

        p {
          margin-left: 20px;
          font-family: regular;
          font-size: 13px;
          margin-bottom: 0;
        }
      }
    }
    .colored {
      i {
        color: $orange;
      }
    }
  }

  // Widget
  .widgets {
    i {
      font-size: 34px;
      margin-right: 20px;
    }
  }
}
