// ******************* //
// Bootstrap overrides //
//*******************  //

$tooltip-border-radius: 0 !default;
$tooltip-padding-x: 0.7rem !default;
$tooltip-padding-y: 0.3rem !default;
$tooltip-font-size: 11px !default;
$tooltip-arrow-width: 0.3rem !default;
$tooltip-arrow-height: 0.2rem !default;

//**************//
// Colors    //
//**************//

$white: #ffffff;
$dark-white: #f1f2f2;
$black: #000000;
$light-black: #303030;
$lighter-black: #a7a7a7;
$grey: #cccccc;
$light-grey: #ebebe4;
$dark-grey: #666666;
$orange: #fb8631;
$green: #00be03;
$red: #ff0000;

//**************//
// Transition   //
//**************//

$transition: all 0.2s ease-in-out;

//**************//
// Fonts    //
//**************//

@font-face {
  font-family: regular;
  src: url(~fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: light;
  src: url(~fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: bold;
  src: url(~fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: semiBold;
  src: url(~fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: italic;
  src: url(~fonts/OpenSans-Italic.ttf);
}

//**************//
// SCREEN SIZE    //
//**************//

$xsmall-screen: 560px;
$small-screen: 800px;
$medium-screen: 1292px;
$large-screen: 1280px;

//**************//
// Color class  //
//**************//

.grey {
  color: $dark-grey !important;
}
