<template>
  <div class="checkbox-wrapper">
    <label v-for="(checkbox, index) in allcheckboxes" :key="index">
      <input
        type="checkbox"
        name="checkbox"
        v-model="values"
        :value="checkbox.value"
        class="checkbox checkbx"
      >
      {{checkbox.label}}
    </label>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
export default {
  props: ["checkboxes"],
  data() {
    return {
      allcheckboxes: [],
      values: []
    };
  },
    mounted: function () {
        this.allcheckboxes = this.checkboxes != null ? this.checkboxes : [];
    },
  watch: {
    values: {
      handler: function() {
        this.$emit("selected-checkboxes", this.values);
      },
      deep: true
    },
    checkboxes: {
        handler: function () {
        this.allcheckboxes = this.checkboxes != null ? this.checkboxes : [];
        this.values = [];
        this.allcheckboxes.forEach(el => {
         this.values.push(el.value)
        });
      },
      deep: true
    }
  }
};
</script>

<style lang="scss" scoped>


  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $white;
    font-family: light;
    font-size: 14px;
    margin-bottom: 0;
  .checkbox
  {
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid $grey;
    padding: 13px !important;
    border-radius: 0;
    display: inline-block;
    position: relative;
    margin-left: 0px;
    margin-right: 10px;
    cursor: pointer;

    @supports (-ms-ime-align:auto) { 
      padding: 0px!important;
    }
    &:focus

  {
    outline: none;
  }

  &:checked {
    background-color: #e9ecee;
    &:after

  {
    font-family: icomoon;
    font-weight: 600;
    content: "\e901";
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 5px;
    color: $black;
  }

  }
  }

  a {
    color: $white;
    text-decoration: underline;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    margin-left: 5px;
    &:hover

  {
    color: $orange;
  }

  }
  }

  .checkbox-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .btn

  {
    margin-right: 0;
  }

  .checkbox-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    label

  {
    margin-right: 15px;
  }

  }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .checkbox
    {
      width: 25px;
      height: 25px;
    }
  }
  @supports (-ms-ime-align:auto) {
    label {
      padding: 0px!important
    } 
   .checkbox {
      padding: 0!important;
      width: 20px!important;
      height: 20px!important;
      border: none!important;
   }
    
  }
</style>

