<template>
  <div class="app-dropdown" v-click-outside="hide">
    <p
      @click.prevent="show = !show, addZindex($event)"
      :class="show ? 'active' : '' "
    >{{ this.dropdownTitle | capitalize }}</p>
    <transition name="fade">
      <ul v-show="show">
        <li
          v-for="(item, index) in this.dropdown"
          :key="index"
          @click.prevent="selectedVal(item.label, item.value, item.selected, item.priceLink, item.docLinks, item.cvr, item.applyfor, item.latestUrl, item.baseUrl)"
        >{{item.label}}</li>
      </ul>
    </transition>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import optionsMixin from "../../mixins/mixins.js";
export default {
  props: ["title", "options"],
  mixins: [optionsMixin],
  data() {
    return {
      dropdownTitle: this.title,
      dropdown: [],
      show: false
    };
  },
created: function () {
    this.dropdownValues();
  },
  methods: {
    dropdownValues: function () {
      if (this.options != undefined) {
        if (Array.isArray(this.options)) {
          this.dropdown = this.options;
        } else {
          this.dropdown = JSON.parse(this.options);
        }
      }
    },
    selectedVal(
      title,
      item,
      value,
      pricelink,
      doclinks,
      cvr,
      applyfor,
      latestUrl,
      baseUrl
    ) {
      this.value = item;
      // show what selected as placeholder
      this.dropdownTitle = title;
      this.show = !this.show;
      // passed the depended tags
      this.$emit("selectedValue", {
        name: this.dropdownTitle,
        value: this.value,
        cvr: cvr == 1 ? true : false,
        pricelink: pricelink,
        doclinks: doclinks,
        applyfor: applyfor,
        latestUrl: latestUrl,
        baseUrl: baseUrl
      });
    },
    hide: function () {
      this.show = false;
    }
  },
  watch: {
    options: {
      handler: function() {
        this.dropdownValues();
        this.dropdownTitle = this.title;
      }
    }
  },
  directives: {
    ClickOutside
  }
};
</script>

<style lang="scss" scoped>
.app-dropdown {
  height: 51px;
  border: none;
  margin: 0 20px 0 0;
  width: 40%;
  min-width: 270px;
  max-width: 100%;
  background: $white;
  position: relative;
  cursor: pointer;

  & .dropdown-toggle {
    height: 51px;
  }
  p {
    margin: 0;
    padding: 10px;
    user-select: none;
    height: 30px;;
    line-height: 30px;
    overflow: hidden;

    &:after {
      font-family: icomoon;
      position: absolute;
      content: "\e913";
      font-size: 35px;
      top: 12px;
      right: 35px;
      width: 0;
      height: 0;
    }
  }
 
  .active::after {
    content: "\e912";
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    background-color: $white;
    z-index: 300;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    max-height: 270px;
    box-shadow: 0px 26px 48px 2px rgba(0, 0, 0, 0.58);
    li
    {
        cursor: pointer;
        padding: 10px;
        margin-bottom: 10px;
        transition: $transition;
        font-size: 14px;
        &:hover {
        background-color: $light-grey;
      }

      label {
        color: $black;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
  @media (max-width: $small-screen) {
    .app-dropdown {
      min-width: 200px;
    }
  }
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter {
  margin-bottom: -200px;
}
.fade-leave-to {
  margin-bottom: 0;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

