<template>
  <div class="app-dropdown" v-click-outside="hide" :disable="true">
    <p @click.prevent="show = !show, addZindex($event)" :class="show ? 'active' : '' ">{{ title | capitalize }}</p>
    <transition name="fade">
      <small v-show="show">{{ maxText}}</small>
    </transition>
    <transition name="fade">
      <ul v-show="show && this.tags.length > 0">
        <li v-for="(item, index) in tags" :key="index" :class="{notclickable: disable && !item.selected}">
          <label @click.once="updateTags(index)" :class="{notactive: disable && !item.selected}">
            <input
              v-model="item.selected"
              :disabled="disable && !item.selected"
              type="checkbox"
              name="checkbox"
              class="checkbox"
              :class="{notactive: disable && !item.selected}"
            >
            {{item.label}}
          </label>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import optionsMixin from "../../mixins/mixins.js";
export default {
  props: ["title", "tags", "maxText"],
  mixins: [optionsMixin],
  data() {
    return {
      show: false,
      max: 2,
      disable: false
    };
  },
  methods: {
    updateTags(index) {
      if (this.tags.filter(v => v.selected).length < 2) {
        // keep order when selected:
        this.tags[index].selected = true
        // counts all the true / selected checkboxes
        var count = this.tags.filter(v => v.selected).length;
        // check if more then (max) checkboxes are selected
        count >= this.max ? (this.disable = true) : (this.disable = false);
        // sends the tag array to parent
        this.$emit("tags", this.tags);
      } else {
        console.log("To many")
      }
    },
    hide: function (){
      this.show = false;
    }
  },
  directives: {
    ClickOutside
  },
  watch: {
    tags: {
      handler: function () {
        var count = this.tags.filter(v => v.selected).length;
        if (count < 2) {
          this.disable = false;
        } else {
          this.disable = true;
        }
      },
      deep: true
    }
  }
};
</script>

<style lang="scss" scoped>
  .notactive {
    user-select:none;
    cursor: not-allowed!important;
  }
  .notclickable {
    user-select: none;
  }
  .app-dropdown {
    height: 51px;
    border: none;
    margin: 0 10px 0 0;
    width: 40%;
    min-width: 270px;
    max-width: 100%;
    background: $white;
    position: relative;
    cursor: pointer;
    z-index: 9000;
    & .dropdown-toggle {
    height: 51px;
  }
  p {
    margin: 0;
    padding: 10px;
    user-select: none;
    height: 30px;
    line-height: 30px;
    overflow: hidden;

    &:after {
      font-family: icomoon;
      position: absolute;
      content: "\e913";
      font-size: 35px;
      top: 12px;
      right: 35px;
      width: 0;
      height: 0;
    }
  }
  .active::after {
    content: "\e912";
  }
  small {
    display: block;
    padding: 5px 10px;
    font-style: italic;
    background-color: $white;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    background-color: $white;
    z-index: 9000;
    margin-top: 0;
    max-height: 320px;
    overflow-y: auto;
    box-shadow: 0px 26px 48px 2px rgba(0, 0, 0, 0.58);
    li {
      transition: $transition;

      &:hover {
        background-color: $light-grey;
      }

      label {
        cursor: pointer;
        color: $black;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
.checkbox {
  -webkit-appearance: none;
  background-color: $white;
  border: 1px solid $grey;
  padding: 13px !important;
  border-radius: 0;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  @supports (-ms-ime-align:auto) { 
    width: 20px!important;
    padding: 0!important;
    height: 20px;
    label.checkbox {
      padding: 0px!important
    }
     padding: 0px!important;
  }
  &:focus {
    outline: none;
  }

  &:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: $grey;

    &:after {
      font-family: icomoon;
      font-weight: 600;
      content: "\e901";
      font-size: 18px;
      position: absolute;
      top: 4px;
      left: 5px;
      color: $black;
    }
  }
}

label {
  display: flex;
  align-items: center;
  color: $white;
  font-family: light;
  font-size: 14px;
  margin-bottom: 0;

  a {
    color: $white;
    text-decoration: underline;
    transition: $transition;
    margin-left: 5px;

    &:hover {
      color: $orange;
    }
  }
}

.checkbox-filter {
  display: flex;
  justify-content: space-between;

  .btn {
    margin-right: 0;
  }
  .checkbox-wrapper {
    display: flex;

    label {
      margin-right: 15px;
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter {
  margin-bottom: -200px;
}
.fade-leave-to {
  margin-bottom: 0;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .checkbox {
      width: 25px;
      height: 25px;
    }
  }
</style>

