<template>
  <div class="app-dropdown" v-click-outside="hide">
    <p
      @click.prevent="show = !show, addZindex($event)"
      :class="show ? 'active' : '' "
    >{{ this.dropdownTitle | capitalize }}</p>
    <transition name="fade">
      <ul v-show="show">
        <li
          v-for="(item, index) in dropdown"
          :key="index"
          @click.prevent="selectedVal(item.name, item.nestedContent, item.checkBoxes ,item)"
        >{{item.typedName}}</li>
      </ul>
    </transition>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import optionsMixin from "../../mixins/mixins.js";
export default {
  props: ["title", "options"],
  mixins: [optionsMixin],
  data() {
    return {
      dropdownTitle: this.title,
      show: false,
      tags: [],
      dropdown: []
    };
  },
created: function () {
    this.dropdownValues();
  },
  methods: {
    dropdownValues: function () {
      var data = JSON.parse(this.options);
      data.forEach(e => {
        // Find right widget data handler
        if (e.checkBoxes != undefined) {
          e.checkBoxes = JSON.parse(e.checkBoxes);
        }
        e.nestedContent = JSON.parse(e.nestedContent);
      });

      this.dropdown = data;
    },
      selectedVal(item, value, checkBoxes, all) {
      this.tags = value;
      // show what selected as placeholder
      this.dropdownTitle = item;
      this.show = !this.show;
      // passed the depended tags
      this.$emit("category", all.value);
      this.$emit("checkboxes", checkBoxes);
      this.$emit("tags", this.tags);
      this.$emit("dropdowntitle", this.dropdownTitle);
    },
    hide: function () {
      this.show = false;
    }
  },
  directives: {
    ClickOutside
  }
};
</script>

<style lang="scss" scoped>
  .app-dropdown {
    height: 51px;
    border: none;
    margin: 0 20px 0 0;
    width: 40%;
    min-width: 270px;
    max-width: 100%;
    background: $white;
    position: relative;
    cursor: pointer;

    & .dropdown-toggle {
        height: 51px;
      }

      p {
        margin: 0;
        padding: 10px;
        user-select: none;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        &:after {
      font-family: icomoon;
      position: absolute;
      content: "\e913";
      font-size: 35px;
      top: 12px;
      right: 35px;
      width: 0;
      height: 0;
    }
  }
 
  .active::after {
    content: "\e912";
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    background-color: $white;
    z-index: 300;
    position: absolute;
    width: 100%;
    margin-top: 0;
    max-height: 270px;
    overflow-y: auto;
    box-shadow: 0px 26px 48px 2px rgba(0, 0, 0, 0.58);
    li
    {
        cursor: pointer;
        padding: 15px 0px 15px 10px;
        transition: $transition;
        font-size: 14px;
        &:hover {
        background-color: $light-grey;
      }

      label {
        color: $black;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
  @media (max-width: $small-screen) {
    .app-dropdown {
      min-width: 250px;
    }
  }
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter {
  margin-bottom: -200px;
}
.fade-leave-to {
  margin-bottom: 0;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

