<template>
  <ul class="widget-list link-list">
    <li v-for="index in (data.length < 4 ) ? data.length : 4" :key="index">
      <a class="link" target="_blank" :href="data[index].link">
        <p>{{data[index].title}}</p>
        <small>{{ data[index].pubDate}}</small>
      </a>
    </li>
  </ul>
</template>
<script>
export default {
  props: ["data"],
  data() {
    return {};
  },
  methods: {}
};
</script>


