<template>
  <ul class="widget-list">
    <li v-for="(item, index) in links" :key="index">
      <a target="_blank" :href="item.link">{{item.title}}</a>
    </li>
  </ul>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      links: this.data
    };
  },
  methods: {}
};
</script>

