<template>
  <div v-if="show" class="noticication">
    <div class="msg">
      <i :class="data.Icon"></i>
      <span>{{ data.Title }}</span>
      <div class="description" v-html="data.Description"></div>
    </div>
    <div @click.prevent="hideNotification" class="btn">OK</div>
  </div>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      notification: {},
      show: true
    };
  },
  methods: {
    hideNotification: function () {
      var cookieIds =
        this.$cookie.get("notfication") == null
          ? []
          : this.$cookie.get("notfication").split(",");

      cookieIds.push(this.data.Id);
      this.show = !this.show;
      this.$cookie.set("notfication", cookieIds, 7);
    }
  }
};
</script>

<style lang="scss">


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter {
  margin-bottom: -200px;
}
.fade-leave-to {
  margin-bottom: 0;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

