<template>
  <div class="tags-wrapper">
    <p v-show="this.tags.filter((x,i) => { return x.selected; }).length > 0">Dine valg:</p>
    <ul class="tags">
      <li
        @click.prevent="removeTags(index)"
        v-for="(tag, index) in tags"
        :key="index"
        v-text="tag.label"
        :value="tag.value"
        v-show="tag.selected"
      ></li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ["tags"],
  data() {
    return {};
  },
  methods: {
    removeTags(index) {
      this.tags[index].selected = false;
      this.$emit("remove-tags", this.tags);
    }
  }
};
</script>

<style lang="scss">


.tags-wrapper {
  display: flex;
  margin: 25px 0;
  align-items: center;

  p {
    min-width: 40px;
    font-size: 10px;
    color: $white;
    margin-bottom: 0;
  }

  .tags {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
    flex-wrap: wrap;
    margin-bottom: 0;

    li {
      position: relative;
      font-size: 10px;
      background-color: $dark-grey;
      padding: 7px 35px 7px 10px;
      color: $white;
      margin-right: 10px;
      cursor: pointer;

      &:after {
        position: absolute;
        right: 0;
        top: 5px;
        font-family: icomoon;
        content: "\e904";
        margin-right: 5px;
        font-size: 20px;
        color: $grey;
      }

      @media (max-width: $small-screen) {
        margin-bottom: 15px;
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter {
  margin-bottom: -200px;
}
.fade-leave-to {
  margin-bottom: 0;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

