<template>
  <header class="header">
    <div class="header-wrapper">
      <router-link :to="{name: 'home', params: { accessToken: this.$route.params.accessToken }}">
        <i class="icon-mitpvs-logo"></i>
      </router-link>
      <transition name="fade">
      <ul class="menu" :class="{mobilemenu: showMobilemenu}">
        <li @click="gtm('topmenu', 'topmenu add Widget', 'null', 'null', 'topmenu')">
          <router-link
            :to="{name: 'addwidget', params: { accessToken: this.$route.params.accessToken }}"
          >
            <i class="icon-add"></i>
            <p>{{ getDicItem("addElement") }}</p>
          </router-link>
        </li>
        <li @click="gtm('topmenu', 'topmenu user', 'null', 'null', 'topmenu')">
          <router-link
            :to="{name: 'user', params: { accessToken: this.$route.params.accessToken }}"
          >
            <i class="icon-user"></i>
            <p>{{ this.userData.firstName }} {{ this.userData.lastName }}</p>
          </router-link>
        </li>
        <li @click.prevent="showGuideModal(), gtm('topmenu', 'topmenu guide', 'null', 'null', 'topmenu')">
          <a>
            <i class="icon-help grey"></i>
            <p>{{ getDicItem("help") }}</p>
          </a>
        </li>
      </ul>
      </transition>
    </div>
    <i class="mobile-btn" :class="[showMobilemenu ? closeClass : openClass]" @click="showMobilemenu = !showMobilemenu"></i>
  </header>
</template>

<script>
import axios from "axios";
//Mixin
    import optionsMixin from "./../../mixins/mixins.js";

 export default {
  mixins: [optionsMixin],
  props: [""],
  data() {
  return {
      userData: [],
      guide: [],
      showMobilemenu: false,
      openClass: "icon-menu",
      closeClass: "icon-widget-close"
    };
  },
    beforeCreate: function () {
    this.$cookie.set("userToken", this.$route.params.accessToken, 30);


    var url =
      this.$localUrl +
      "/umbraco/api/UserData/GetAllData?token=" +
      this.$route.params.accessToken;
    this.$http
      .get(url)
      .then(userData => {
        this.userData = userData.data;
        this.$cookie.set("userData", JSON.stringify(userData.data), 30);
      })
      .catch(e => {
        this.show = true;
        console.log(e);
        window.location.replace("/");
      });

    var helpUrl = this.$localUrl + "/umbraco/api/Basic/GetMainGuide?pageId=" + this.$pageId;
    this.$http
      .get(helpUrl)
      .then(guide => {
        this.guide = guide.data;
        if (!this.$cookie.get("showFirstTimeGuide")) {
          this.showGuideModal();
        }
      })
      .catch(e => {
        this.show = true;
        console.log(e);
      });
  },
  methods: {
showGuideModal: function () {
      this.$modal.show("help-modal", { guide: this.guide });
    }
  }
  };

</script>

<style lang="scss">
.mobile-only {
  display: none;

  @media (max-width: $small-screen) {
    display: block;
  }
}

header {
  position: absolute;
  width: 100%;
  z-index: 500;
  top: 0px;
  left: 0px;
  a .icon-mitpvs-logo {
    color: $white;
    font-size: 30px;
    @media (max-width: $small-screen) {
      padding: 20px;
    }
  }
  .router-link-active {
    text-decoration: none;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 0 50px;
    background: linear-gradient(to bottom, $black, $light-black);
    height: 70px;
    z-index: 100;

    @media (max-width: $small-screen) {
      flex-direction: column;
      height: 70px;
      justify-content: center;
      align-items: flex-start;
      padding: 0;

    }
  }
  .menu {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;

    li {
      height: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-left: 45px;
      cursor: pointer;
      border-top: 5px solid transparent;
      transition: $transition;

      a {
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: $white;
        text-decoration: none;
      }

      &:hover {
        border-top: 5px solid $orange;

        @media (max-width: $small-screen) {
          border-color: transparent;
        }
      }

      p {
        font-family: light;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25px;
        font-size: 16px;
      }

      i {
        color: $orange;
        font-size: 30px;
      }

      .submenu {
        display: none;
      }
    }

    @media (max-width: $small-screen) {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      background-color: $light-black;
      padding-left: 0;
      overflow: hidden;
      position: fixed;
      top: 0px;
      height: 100vh;
      padding-top: 55px;

      li {
        display: block;
        width: 100%;
        padding: 20px 0 20px 0px;
        margin: 0;
        height: auto;
        p {
          display: inline-block;
        }

        i:first-child() {
          margin-left: 20px;
        }
      }
    }
  }
  .menu.mobilemenu {
    display: flex;
  }
  .mobile-btn {
    display: none;
    color: $orange;
    position: fixed;
    right: 20px;
    top: 10px;
    font-size: 45px;
    z-index: 100;

    @media (max-width: $small-screen) {
      display: inline-block;
    }
  }

  .dropdown-arrow {
    display: none;
    color: $orange;
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 60px !important;
    z-index: 100;
    transform-origin: 50% 50%;

    @media (max-width: $small-screen) {
      display: inline-block;
    }

    &.rotate {
      transform: rotate(180deg);
    }
  }
}
</style>

