.news-feed {
	.widget-content {
		padding: 0;
	}
	.news-slider, .courses-slider {
		img {
			position: relative;
			width: 100%;
			height: auto;
			top:0;
			left: 0;
		}
		.item {
			.slider-content {
				color: $white;
				width: 100%;
				position: absolute;
				bottom: 0;
				padding: 30px 20px;
				z-index: 10;
				background: linear-gradient(to top, $black, transparent);

				span {
					font-family: bold;
				}

				p {
					font-family: light;
					font-size: 20px;
					line-height: 24px;
					margin-top: 5px;
					margin-bottom: 15px;
				}
			}
		}

	}

	.courses-slider {
		small {
			background-color: $black;
			padding: 5px 15px;
			margin-bottom: 5px;
		}
	}

	.courses-empty {
		color: $white;
		padding: 60px 20px;
		width: 65%;

		i {
			font-size: 35px;
		}

		h3 {
			font-family: bold;
			font-size: 18px;
			line-height: 24px;
			margin: 10px 0;
		}

		p {
			font-family: light;
			font-size: 14px;
		}
	}
	

	.inner {
		padding: 10px 20px;
	}


	.owl-nav {
		position: absolute;
		right: 10px;
		bottom: 10px;

		.owl-prev, .owl-next {
			background-color: $white;
			color: $orange;
			border-radius: 0;
			margin: 0;
			transition: $transition;

			i {
				font-size: 18px;
			}

			&:hover {
				background-color: $orange;
				color: $white;
			}
		}

		.owl-prev {
			 transform: rotate(270deg);
		}

		.owl-next {
			transform: rotate(90deg);
		}
	}

	.owl-dots {
		position: absolute; 
		left: 20px;
		bottom: 0;

		.owl-dot {

			&:hover {
				span {
					background: $orange;
				}
			}
			span {
				transition: $transition;
				background: transparent;
				border: 1px solid $grey;

				&:hover {
					background: $orange;
				}
			}

			&.active {
				span {
					background: $orange;
				}
			}
		}
	}
}

