<template>
  <div class="widget" v-if="data">
  <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
              @click.prevent="gtm('servicemenu','Service Menu drag ',data.WidgetId, data.widgetTitle)"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle), gtm('servicemenu','Service Menu remove ',data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i
            class="icon-widget-more"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_more')"
            @click.prevent="gtm('servicemenu', 'Service Menu top ',data.WidgetId, data.widgetTitle)"
            ></i>
        </a>

        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId), gtm('servicemenu', 'Service Menu collapse ',data.WidgetId, data.widgetTitle)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-menu" v-if="data.tab2Active == 1">
          <ul>
            <li :class="{active: this.tab == 1}" @click.prevent="changeTab(1, data.WidgetId, data.widgetTitle)">
              <a>{{ data.firstTabName }}</a>
            </li>
            <li :class="{active: this.tab == 2}" @click.prevent="changeTab(2, data.WidgetId, data.widgetTitle)">
              <a>{{ data.secondTabName }}</a>
            </li>
          </ul>
        </div>
        <div class="widget-content" v-show="this.tab == 1">
            <div class="filter w100">
                <!-- filter 1-->
                <widget-dropdown-single :title="data.DropdowntapOneTitle"
                                        :options="data.dropdownTapOne"
                                        @selectedValue="inputA = $event"></widget-dropdown-single>
            </div>
            <transition name="slide" v-bind:css="false">
                <div>
                    <div class="switch" v-show="inputA.cvr">
                        <div class="input_wrapper" :class="{is_checked: findApplicants }">
                            <input type="checkbox"
                                   @click.prevent="findApplicants = !findApplicants, resize()"
                                   :checked="findApplicants">
                            <!--<i @click.prevent="findApplicants = !findApplicants, resize()" class="icon-check is_checked"></i>
                            <span @click.prevent="findApplicants = !findApplicants, resize()" class="is_unchecked">|</span>-->
                        </div>
                        <p>{{ data.switchText }}</p>
                    </div>

                    <div v-show="findApplicants" class="search-filter no-padding">
                        <div class="input-search space">
                            <div v-if="selectedCvr != ''" class="cvrSelected">
                                <p>{{ selectedCvr }}</p>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   :placeholder="data.examplePlaceholder"
                                   aria-label="Søg"
                                   v-model="searchInput">
                            <button class="btn_search" type="button" v-on:click="clearVat">
                                <i v-if="vat == ''" class="icon-search"></i>
                                <i v-if="vat != ''" class="icon-close"></i>
                            </button>
                            <!-- <div class="btn btn-filled" :class="{ notActive: searchInput ==''}">
                      <a target="_blank" @click="getCvrData(searchInput)">{{ data.cVRSearchButton }}</a>
                    </div> -->
                        </div>
                        <transition name="slide" v-bind:css="false">
                            <ul v-if="cvrData.length != 0" class="widget-cvrlist">
                                <li v-for="(firm, index) in cvrData" :key="index"
                                    @click="vat = firm._source.Vrvirksomhed.cvrNummer, selectedCvr = firm._source.Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn, cvrData=[]">{{ firm._source.Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn }} - {{ firm._source.Vrvirksomhed.cvrNummer}}</li>
                            </ul>
                        </transition>
                        <div class="radio-filter" v-if="inputA.applyfor">
                            <small>{{ data.searchAreas }}</small>
                            <form class="radiobuttons" action="#">
                                <p v-for="(item, index) in JSON.parse(inputA.applyfor)" :key="index">
                                    <input type="radio"
                                           :id="item.value + '-' + data.WidgetId"
                                           :value="item.value"
                                           name="radio-group"
                                           v-model="radioValue">
                                    <label :for="item.value + '-' + data.WidgetId">{{ item.label}}</label>
                                </p>
                            </form>
                        </div>
                        <label>
                            <input @click="att = !att"
                                   type="checkbox"
                                   name="checkbox"
                                   value="2"
                                   class="checkbox">
                            {{ att_text }}
                        </label>
                    </div>
                </div>
            </transition>

            <a target="_blank" :href="url" :class="{notActive: disabled()}" @click="gtm('cta','cta: ' + inputA.name + ' - findApplicants: ' + findApplicants + ' type: ' + radioValue + ' - att: ' + att, data.WidgetId, data.widgetTitle)">
                <div class="btn-widget">
                    {{ data.buttonText }}
                </div>
            </a>
        </div>
        <div class="widget-footer" v-show="this.tab == 1 && (pricelinkTab1 != '' || doclinksTab1 != '')">
            <transition name="slide" v-bind:css="false">
                <div class="space">
                    <a @click.prevent="showPriceModal(link.title, link.link), gtm('cta', 'cta Footer link tab 1: ' + '('+ link.caption +') - ' + link.link, data.WidgetId, data.widgetTitle)"
                       target="_blank"
                       v-for="(link, index) in pricelinkTab1"
                       :key="index"
                       v-if="!link.newWindow">
                        <div class="btn btn-light">
                            <i class="icon-arrow-link"></i>
                            {{ link.title}}
                        </div>
                    </a>
                    <a :href="link.link"
                        @click="gtm('cta', 'cta Footer link tab 1: ' + '('+ link.caption +') - ' + link.link, data.WidgetId, data.widgetTitle)"
                       target="_blank"
                       v-for="(link, index) in pricelinkTab1"
                       :key="index"
                       v-if="link.newWindow">
                        <div class="btn btn-light">
                            <i class="icon-arrow-link"></i>
                            {{ link.title}}
                        </div>
                    </a>


                    <a @click.prevent="showDoclinksTab1 = !showDoclinksTab1, resize()"
                       v-show="doclinksTab1.length > 0">
                        <i :class="(showDoclinksTab1) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
                        {{ data.doclinksText }}
                    </a>
                    <transition name="slide" v-bind:css="false">
                        <ul class="widget-list expand-list" v-if="showDoclinksTab1">
                            <li v-for="(link, index) in doclinksTab1" :key="index">
                                <a @click="gtm('cta', 'cta Footer document link tab 1: ' + '('+ link.title +') - ' + link.link, data.WidgetId, data.widgetTitle)" target="_blank" :href="link.link">{{link.title}}</a>
                            </li>
                        </ul>
                    </transition>
                </div>
            </transition>
        </div>
        <div class="widget-content" v-if="data.tab2Active == 1" v-show="this.tab == 2">
          <div class="filter w100">
            <widget-dropdown-single
              :title="data.dropdownTwoTitle"
              :options="data.dropDowndownTwo"
              @selectedValue="inputB = $event"
            ></widget-dropdown-single>
          </div>
          <a target="_blank" :href="inputB.baseUrl" :class="{notActive: inputB.baseUrl == null}" @click="gtm('cta','cta: ' + inputB.name + ' - findApplicants: ' + findApplicants + ' type: ' + radioValue + ' - att: ' + att, data.WidgetId, data.widgetTitle)">
              <div class="btn-widget">
                  {{ data.searchButtonText }}
              </div>
          </a>
        </div>
        <div class="widget-footer" v-show="this.tab == 2 && (pricelinkTab2 != '' || doclinksTab2 != '')">
          <transition name="slide" v-bind:css="false">
              <div class="space">
                  <a @click.prevent="showPriceModal(link.title, link.link)"
                     target="_blank"
                     v-for="(link, index) in pricelinkTab2"
                     :key="index"
                     v-if="!link.newWindow">
                      <div class="btn btn-light">
                          <i class="icon-arrow-link"></i>
                          {{ link.title}}
                      </div>
                  </a>
                  <a :href="link.link"
                     target="_blank"
                     v-for="(link, index) in pricelinkTab2"
                     :key="index"
                     v-if="link.newWindow">
                      <div class="btn btn-light">
                          <i class="icon-arrow-link"></i>
                          {{ link.title}}
                      </div>
                  </a>
                  <a @click.prevent="showDoclinksTab2 = !showDoclinksTab2, resize()"
                     v-show="doclinksTab2.length > 0">
                      <i :class="(showDoclinksTab2) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
                      {{ data.doclinksText }}
                  </a>
                  <transition name="slide" v-bind:css="false">
                      <ul class="widget-list expand-list" v-if="showDoclinksTab2">
                          <li v-for="(link, index) in doclinksTab2" :key="index">
                              <a @click="gtm('cta', 'cta Footer document link tab 2: ' + '('+ link.title +') - ' + link.link, data.WidgetId, data.widgetTitle)" target="_blank" :href="link.link">{{link.title}}</a>
                          </li>
                      </ul>
                  </transition>
              </div>
          </transition>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import DropdownSingle from "../widget-components/Dropdown-single.vue";

//Mixins
import optionsMixin from "../../mixins/mixins.js";

export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: { "widget-dropdown-single": DropdownSingle },
  data() {
    return {
      // widget variables
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      tab: this.data.Tab != null ? this.data.Tab : "1",
      //TAB variable
      findApplicants: false,
      selectedValue: "",
      searchInput: "",
      cvrData: [],
      selectedCvr: "",
      vat: "",
      inputA: {},
      radioValue: "",
      pricelinkTab1: [],
      doclinksTab1: [],
      showDoclinksTab1: false,
      url: "",
      att: false,
      att_text: "",
      //tab2 variable
      inputB: {},
      showDoclinksTab2: false,
      pricelinkTab2: [],
      doclinksTab2: []
    };
  },
created: function () {
    this.resize();
  },
    methods: {
      clearVat: function () {
      this.searchInput = '';
      this.vat = '';
      this.selectedCvr = '';
    },
    buildUrl: function () {
      var baseUrl = this.inputA.baseUrl;
      var preData = "?cvr=" + this.vat;
      var userData = JSON.parse(this.$cookie.get("userData"));
      var fullName = userData.firstName + " " + userData.lastName;
      this.att_text = this.data.att.replace("{name}", fullName);
      var attName = this.att? "&att=" + fullName + "&mail=" +userData.email : "";
      var radio = "&ct=" + this.radioValue;
      if (this.findApplicants) {
        this.url = baseUrl + preData + attName + radio;
      } else {
        this.url = baseUrl;
      }
    },
    hide: function () {
      this.show = false;
    },
    disabled: function () {
      if (
        this.inputA.baseUrl != undefined &&
        (!this.findApplicants || (this.radioValue != "" && this.vat != ""))
      ) {
        return false;
      } else {
        return true;
      }
    },
    showPriceModal(title, value) {
      var vm = this;
      this.$modal.show("price-modal", {
        title: title,
        url: value
      });
    },
    getCvrData(input) {
      this.$http
          .get(
              this.$localUrl +
              "/umbraco/api/Cvr/GetcvrData?company="+ input + "&size=20"
          )
          .then(response => {
              this.cvrData = response.data.Content.hits.hits
          })
          .catch(e => {
              console.log("Failed getting the cvr data");
              console.log(e);
          });

    },
  },
  watch: {
    radioValue: {
      handler: function() {
        this.buildUrl();
        this.$cookie.set(
          "searchPatent" + this.data.WidgetId,
          this.radioValue,
          30
        );
      }
    },
    findApplicants: {
      handler: function() {
        this.buildUrl();
        this.resize();
      }
    },
    att: {
      handler: function() {
        this.buildUrl();
      }
    },
    vat: {
      handler: function() {
        this.buildUrl();
      }
    },
    inputA: {
      handler: function() {
        this.findApplicants = false;
        this.pricelinkTab1 =
          this.inputA.pricelink != null
            ? JSON.parse(this.inputA.pricelink)
            : [];

        if(this.inputA.cvr){
          this.radioValue =
            this.$cookie.get("searchPatent" + this.data.WidgetId) != null
            ? this.$cookie.get("searchPatent" + this.data.WidgetId)
            : JSON.parse(this.inputA.applyfor)[0].value;
        }
        this.doclinksTab1 =
        this.inputA.doclinks != null ? JSON.parse(this.inputA.doclinks) : [];
        this.resize();
        this.buildUrl();
      }
    },
    inputB: {
      handler: function() {
        this.pricelinkTab2 =
          this.inputB.pricelink != null
            ? JSON.parse(this.inputB.pricelink)
            : [];
        this.doclinksTab2 =
          this.inputB.doclinks != null ? JSON.parse(this.inputB.doclinks) : [];
        this.resize();
      }
    },
    searchInput: {
      handler: function() {
        this.getCvrData(this.searchInput)
      }
    },
    cvrData: {
      handler: function() {
        this.resize();
      }
    }
  }
};
</script>

<style lang="scss" scoped>

.widget-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;
  a
    {
        display: inline-block;
        margin-top: 35px;
        .btn-widget {
            margin-top: 0;
        }
    }
}

.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}

.filter-wrapper {
  .filter {
    margin-bottom: 20px;

    .app-dropdown {
      width: 100%;
    }
  }
}

.w100 .app-dropdown {
  width: 100%;
  margin-right: 0;
}
.no-padding {
  .app-dropdown {
    margin-right: 0;
    min-width: 210px;
  }

  .input-search {
    height: 51px;
  }
}
// checkbox
label {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: light;
  font-size: 14px;
  margin: 10px 10px 0 0;
}
.btn-widget {
  margin-top: 35px;
}
.checkbox {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 11px !important;
  border-radius: 0;
  display: inline-block;
  position: relative;
  margin: 0 15px 0 0;

  @supports (-ms-ime-align:auto) {
    padding: 0!important;
  }
}
.checkbox:checked:after {
  font-family: icomoon;
  font-weight: 600;
  content: "\e901";
  font-size: 18px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #000000;
}
.search-filter {
  display: flex;
  flex-direction: column;
  margin-left: 12%;

  .input-search {
    width: 86.5%;
  }
}
.widget .radio-filter .radiobuttons {
  margin-top: 0;
  margin-bottom: 15px;
}
label {
  .checkbox {
    &:checked {

      &:after {
        font-size: 16px;
        top: 3px;
        left: 3px;
      }
    }
  }
}
// Switch
.switch {
  display: flex;
  align-items: center;
  margin: 35px 0 0 0;

  p {
    font-size: 12px;
    margin-left: 17px;
    margin-bottom: 5px;
    color: $grey;
  }

  .input_wrapper {
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .input_wrapper input[type="checkbox"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    // appearance: none;
    background: transparent;
    border-radius: 20px;
    position: relative;
    outline: 0;
    transition: $transition;
    border: 2px solid $dark-grey;
  }
  .input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 2px;
    right: 3px;
    width: 23px;
    height: 23px;
    background: $dark-grey;
    z-index: 2;
    border-radius: 50px;
    transition: $transition;
  }
  .input_wrapper i,
  .input_wrapper span {
    position: absolute;
    transition: $transition;
    z-index: 1;
  }
  .input_wrapper .is_checked {
    color: $green;
    font-size: 32px;
    width: 18px;
    top: 12px;
    right: 12px;
    transform: translateX(-10%) translateY(-30%) scale(0);
  }
  .input_wrapper .is_unchecked {
    color: $dark-grey;
    width: 15px;
    left: 16px;
    top: 12px;
    font-weight: 600;
    transform: translateX(0) translateY(-30%) scale(1);
  }
  /* Checked State */

  .input_wrapper input[type="checkbox"]:checked {
    border-color: $green;
  }
  .input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 54px);
    background: $green;
  }
  .input_wrapper input[type="checkbox"]:checked + .is_checked {
    transform: translateX(0) translateY(-30%) scale(1);
  }
  .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked {
    transform: translateX(-190%) translateY(-30%) scale(0);
  }
}
// EDGE STYLE
  @supports (-ms-ime-align:auto) {
    .switch {
      .input_wrapper
      {
        input {
          border: none!important;
        }
      }
   }

    .checkbox {
      width: 20px;
      height: 20px;
      border: none;
    }
    label.checkbox {
      padding: 0px!important
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .switch {
      .input_wrapper
      {
        input {
          color: $green;
        }
        .is_unchecked, .icon-check
        {
          display:none
        }
      }
   }
    /* IE10+ CSS styles go here */
  .checkbox {
    width: 20px;
    height: 20px;
  }
}


.space {
  margin-top: 10px;
  margin-bottom: 0px;

  .btn {
    width: 90%;
  }
}
.widget-cvrlist {
  list-style-type: none;
  padding-left: 0;
  background-color: $white;
  width: 86.5%;
  margin: 0;
  max-height: 210px;
  overflow-y: scroll;
  border-top: 1px solid $grey;
  li {
    font-size: 14px;
    color: $light-black;
    padding: 14px 10px;
    cursor: pointer;
    transition: all 1s;
    &:hover {
      background-color: $light-grey;
    }
  }
}

//Cvr seleted show
.input-search {
  position: relative;

.icon-close {
  color: $dark-grey;
}
  input {
    width: 100%;
    height: 51px;
    box-sizing: border-box;
  }

  .cvrSelected {
    display: flex;
    align-items: center;
    position: absolute;
    width: 85%;
    background-color: white;
    height: 51px;
    box-sizing: border-box;
    z-index: 100;

    p {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
  .btn_search {
    margin-left: 0px;
  }
  // Switch end
  // transition
  .slide-enter-active,
  .slide-leave-active {
    transition: opacity 0.2s;
  }
.slide-enter {
  margin-bottom: 0px;
}
.slide-leave-to {
  margin-bottom: 0;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
