<template>
  <div class="widget" v-if="data">
 <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
              @click.prevent="gtm('servicemenu','Service Menu drag ',data.WidgetId, data.widgetTitle)"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle), gtm('servicemenu','Service Menu remove ',data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i
            class="icon-widget-more"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_more')"
            @click.prevent="gtm('servicemenu', 'Service Menu top ',data.WidgetId, data.widgetTitle)"
            ></i>
        </a>

        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId), gtm('servicemenu', 'Service Menu collapse ',data.WidgetId, data.widgetTitle)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-menu">
          <ul>
            <li :class="{active: this.tab == 1}" @click.prevent="changeTab(1, data.WidgetId, data.widgetTitle)">
              <a>{{ data.firstTabName }}</a>
            </li>
            <li v-if="data.activeTab2 != 0" :class="{active: this.tab == 2}" @click.prevent="changeTab(2, data.WidgetId, data.widgetTitle)">
              <a>{{ data.secondTabName }}</a>
            </li>
            <li :class="{active: this.tab == 3}" @click.prevent="changeTab(3, data.WidgetId, data.widgetTitle)">
              <a>{{ data.thirdTabName }}</a>
            </li>
          </ul>
        </div>
        <div class="widget-content" v-show="this.tab == 1">
          <div class="filter-wrapper">
            <div class="filter">
              <!-- filter 1-->
              <widget-dropdown
                :title="data.dropdownTitle"
                :options="data.pricesAndFees"
                @tags="priceoverview = $event"
                @dropdowntitle="dropdowntitle = $event"
              ></widget-dropdown>
            </div>
            <div class="filter">
              <!-- filter 2-->
              <widget-dropdown-single
                :class="{ notActive: priceoverview.length == 0}"
                :title="data.dropdownValueTitle"
                :options="this.priceoverview"
                @selectedValue="selectedValue = $event"
              ></widget-dropdown-single>
            </div>
          </div>

          <div class="btn-align-right">
              <a @click.prevent="showPriceModal(selectedValue.name, selectedValue.value, false), gtm('cta', 'cta prices: ' + selectedValue.name, data.WidgetId, data.widgetTitle)" :class="{ notActive: disabled()}">
                  <div class="btn btn-widget">
                      {{ data.buttonText }}
                  </div>
              </a>
          </div>
        </div>
        <div class="widget-footer" v-show="this.tab == 1">
          <a
            class="btn btn-light"
            v-for="(link, index) in JSON.parse(data.linksTab1)"
            :key="index"
            :target="link.newWindow ? '_blank': null"
            :href="link.link"
            @click="gtm('cta', 'cta Footer link tab 1: ' + '('+ link.caption +') - ' + link.link, data.WidgetId, data.widgetTitle)"
          >
            <i class="icon-arrow-link"></i>
            {{ link.caption }}
          </a>
          <a @click.prevent="showHistory()" v-show="historyList.length > 0">
            <i :class="(history) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            <p>{{ data.histroyTab1Text }}</p>
          </a>
          <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="history">
              <li v-for="(link, index) in listLimited(historyList, tab)" :key="index" v-if="link.tabNumber == tab">
                <a @click.prevent="showPriceModal(link.title, link.link, true), gtm('cta', 'cta History link tab 1: ' + '('+ link.title +') - ' + link.link, data.WidgetId, data.widgetTitle)">{{link.title}}</a>
              </li>
            </ul>
          </transition>
        </div>
        <div class="widget-content" v-show="this.tab == 2 && data.activeTab2 != 0">
          <div class="pay-fields">
            <div class="input-search">
              <input type="number" class="form-control" :placeholder="data.invoiceNumberPlaceholder" v-model="invoiceNumber">
            </div>
            <div class="input-search">
              <input type="number" class="form-control" :placeholder="data.amountPlaceholder" v-model="amount">
            </div>
          </div>
          <a target="_blank" class="btn-widget" :href="paymentUrl" :class="{ notActive: invoiceNumber == '' || invoiceNumber == null || amount == '' || amount == null }" >
            {{ data.buttonTextPlaceholder }}</a>
        </div>
        <div class="widget-content" v-show="this.tab == 3">
          <ul class="payment-info-list">
            <li v-html="data.richtextNC"></li>
           </ul>

        </div>
        <div class="widget-footer" v-show="this.tab == 3">
          <a
            class="btn btn-light"
            v-for="(link, index) in JSON.parse(data.linksTab3)"
            :key="index"
            :target="link.newWindow ? '_blank': null"
            :href="link.link"
            @click="gtm('cta', 'cta Footer link tab 2: ' + '('+ link.caption +') - ' + link.link, data.WidgetId, data.widgetTitle)"
          >
            <i class="icon-arrow-link"></i>
            {{ link.caption }}
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
import Dropdown from "../widget-components/Dropdown.vue";
import DropdownSingle from "../widget-components/Dropdown-single.vue";

//Mixins
import optionsMixin from "../../mixins/mixins.js";

export default {
    props: ["data"],
    mixins: [optionsMixin],
    components: {
        "widget-dropdown": Dropdown,
        "widget-dropdown-single": DropdownSingle
    },
    data() {
        return {
            // widget variables
            open: this.data.Open == "1" ? true : false,
            hideOptions: true,
            tab: this.data.Tab != null ? this.data.Tab : "1",
            priceoverview: [],
            selectedValue: "",
            baseUrl: this.data.widgetPayUrl,
            url: "",
            history: false,
            historyList: [],
            invoiceNumber: null,
            amount: null,
            paymentUrl: "",
            dropdowntitle: ""
        };
    },
    created: function () {
        this.resize();
        this.historyList =
            this.data.UserLinks != null
                ? JSON.parse(this.data.UserLinks).reverse()
                : [];
    },
    methods: {
    disabled: function () {
            if (this.selectedValue == "") {
                return true;
            } else {
                return false;
            }
        },
        hide: function () {
            this.show = false;
        },
        showPriceModal: function (title, value, fromHistory) {

            var vm = this;
            this.$modal.show("price-modal", {
                title: title,
                url: value
            });
          if (!fromHistory) {
                var historytext = this.dropdowntitle + ": " + title
                setTimeout(function () {
                    vm.saveToHistory({
                      title: historytext,
                        link: value,
                        widgetId: vm.data.WidgetId,
                        tabNumber: vm.tab,
                        token: vm.$route.params.accessToken
                    });
                }, 1500);
            }
        },
    buildPayUrl: function () {
            var amount = this.amount != null ? parseFloat(this.amount).toFixed(2) : this.amount;
            this.paymentUrl = this.data.widgetPayUrl + "&OrderID=MitPvs-" + this.invoiceNumber + "&Amount=" + amount + "&CurrencyCode=208";
            console.log("Tr")
        }
    },
    watch: {
        priceoverview: {
            handler: function () {
                this.selectedValue = "";
            },
            deep: true
        },
        invoiceNumber: {
            handler: function () {
                this.buildPayUrl()
            },
        },
        amount: {
            handler: function () {
                this.buildPayUrl()
            },
        }
    }
}
</script>

<style lang="scss" scoped>

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.widget-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;
}

.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}

.filter-wrapper {
  .filter {
    margin-bottom: 20px;

    .app-dropdown {
      width: 100%;
    }
  }
}

// transition
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s;
}
.slide-enter {
  margin-bottom: 0px;
}
.slide-leave-to {
  margin-bottom: 0;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
