<template>
  <div class="widget" v-if="data">
<div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
              @click.prevent="gtm('servicemenu','Service Menu drag ',data.WidgetId, data.widgetTitle)"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle), gtm('servicemenu','Service Menu remove ',data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i
            class="icon-widget-more"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_more')"
            @click.prevent="gtm('servicemenu', 'Service Menu top ',data.WidgetId, data.widgetTitle)"
            ></i>
        </a>

        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId), gtm('servicemenu', 'Service Menu collapse ',data.WidgetId, data.widgetTitle)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-menu">
          <ul>
            <li :class="{active: this.tab == 1}" @click.prevent="changeTab(1, data.WidgetId, data.widgetTitle)">
              <a>{{ data.fTabName }}</a>
            </li>
            <li :class="{active: this.tab == 2}" @click.prevent="changeTab(2, data.WidgetId, data.widgetTitle)">
              <a>{{ data.sTabName }}</a>
            </li>
          </ul>
        </div>
        <div class="widget-content" v-show="this.tab == 1">
          <div class="radio-filter">
            <small>{{ data.searchAreas }}</small>
            <form class="radiobuttons" action="#">
              <p v-for="(item, index) in radiobutton" :key="index">
                <input
                  type="radio"
                  :id="item.value + '-' + data.WidgetId"
                  :value="item.value"
                  name="radio-group"
                  v-model="radio"
                  @click="saveSelection(item.value, item.label)"
                >
                <label :for="item.value + '-' + data.WidgetId">{{ item.label}}</label>
              </p>
            </form>
          </div>
          <div class="input-search space">
            <input
              type="text"
              class="form-control"
              :placeholder="data.placeholdertext"
              aria-label="Søg"
              v-model="input"
            >
            <button class="btn_search" type="button" disabled>
              <i class="icon-search"></i>
            </button>
            <a :href="this.url"
               target="_blank"
               :class="{ notActive: input ==''}"
               @click="gtm('cta', 'cta label: ' + label + ' ' + radio + ' input: ' + input, data.WidgetId, data.widgetTitle), saveToHistory({title: historytext, link: url, widgetId: data.WidgetId,tabNumber: tab, token: $route.params.accessToken})">
                <div class="btn-widget">
                    {{ data.buttonText }}
                </div>
            </a>
          </div>
          <a @click.prevent="showHistory()" v-show="historyList.length > 0">
            <i :class="(history) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            <p>{{ data.histroyTab1Text}}</p>
          </a>
          <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="history">
              <li v-for="(link, index) in listLimited(historyList,tab)" :key="index" v-if="link.tabNumber == tab">
                <a @click="gtm('cta', 'cta History link tab 1: ' + '('+ link.title +') - ' + link.link, data.WidgetId, data.widgetTitle)" target="_blank" :href="link.link">{{link.title}}</a>
              </li>
            </ul>
          </transition>
        </div>
        <div class="widget-footer" v-show="this.tab == 1">
          <a
            class="btn btn-light"
            v-for="(link, index) in JSON.parse(data.linksTab1)"
            :key="index"
            :target="link.newWindow ? '_blank': null"
            :href="link.link"
            @click="gtm('cta', 'cta Footer link tab 1: ' + '('+ link.caption +') - ' + link.link, data.WidgetId, data.widgetTitle)"
          >
            <i class="icon-arrow-link"></i>
            {{ link.caption }}
          </a>

        </div>
        <div class="widget-content" v-show="this.tab == 2">
          <ul class="widget-list link-list">
            <li v-for="(item, index) in feed" :key="index">
              <a target="_blank" :href="item.link._text" @click="gtm('cta', 'cta: latest changes - ' + item.title._text, data.WidgetId, data.widgetTitle)">
                <div class="link">
                  <p>{{item.title._text}}</p>
                  <small>{{item.pubDate._text}}</small>
                </div>
              </a>
            </li>
          </ul>
          <a @click.prevent="feedModal()" class="btn btn-light" v-if="feed.length > 3">
            <i class="icon-arrow-link"></i>
            {{data.btnTextTap2}}
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
  var convert = require('xml-js');
import List from "../widget-components/FeedList.vue";
import axios from "axios";
//Mixin toogle
import optionsMixin from "../../mixins/mixins.js";

export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: { "widget-list": List },
  data() {
    return {
      // widget variables
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      tab: this.data.Tab != null ? this.data.Tab : "1",

      // tab 1 variables
      baseUrl: this.data.baseUrl,
      radiobutton: JSON.parse(this.data.radioButtons),
      url: "",
      radio: "",
      input: "",
      label: "",
      historytext: "",
      history: false,
      historyList: [],
      // tab 2 variables
      feed: []
    };
    },
    created: function () {
    this.resize();
    this.historyList =
      this.data.UserLinks != null
        ? JSON.parse(this.data.UserLinks).reverse()
        : [];
    this.radio =
      this.$cookie.get("guideline" + this.data.WidgetId) != null
        ? this.$cookie.get("guideline" + this.data.WidgetId)
        : this.radiobutton[0].value;
      this.label = this.radiobutton[0].label;
  },
    beforeMount: function () {
      var url = this.data.feedUrl;
      axios.get(url)
        .then(response => {
          var feed = response.data;
          var jfeed = convert.xml2json(feed, { compact: true, spaces: 4 });
          this.feed = JSON.parse(jfeed).rss.channel.item;
          this.resize();
        })
        .catch(e => {
          console.log("Failed getting the dic data");
          console.log(e);
        });

  },
  methods: {
    updateUrl: function () {
      var vm = this;
      // full search url
      vm.url = vm.baseUrl + "?search=" + vm.input + "&base=" + vm.radio;
      this.historytext = vm.label + ": " + vm.input
    },
    feedModal: function () {
      this.$modal.show("feed-modal", {
        title: this.data.widgetTitle,
        feed: this.feed
      });
    },
    saveSelection(value, label) {
      this.label = label;
      this.$cookie.set("guideline" + this.data.WidgetId, value, 30);
    }
  },
  // watch for changes on the parameters
  watch: {
    radio: {
      handler: function() {
        this.updateUrl();
      }
    },
    input: {
      handler: function() {
        this.updateUrl();
      }
    },
    historyList: {
      handler: function() {
        this.resize();
      }
    },
    history: {
      handler: function() {
        this.resize();
      }
    }
  }
};
</script>

<style lang="scss" scoped>

 .input-search {
    background-color: $white;
    .btn-widget
    {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
    }
    input {
      width: 80%!important;
    }
}

.widget-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;

  .link-list
  {
    max-height: 330px;
    overflow: hidden;
  }
}
  .input-search {
    margin: 30px 0;

    a {
        height: 100%;
      }
  }

.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}

// transition
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s;
}
.slide-enter {
  margin-bottom: 0px;
}
.slide-leave-to {
  margin-bottom: 0;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

  @media (max-width: $medium-screen) {
    .radiobuttons{
      display: flex;
      flex-direction: column;

      p {
          margin-bottom: 20px!important;
      }
    }
  }
</style>
