<template>
  <div class="widget systemstatus" v-if="data">
<div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
              @click.prevent="gtm('servicemenu','Service Menu drag ',data.WidgetId, data.widgetTitle)"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle), gtm('servicemenu','Service Menu remove ',data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i
            class="icon-widget-more"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_more')"
            @click.prevent="gtm('servicemenu', 'Service Menu top ',data.WidgetId, data.widgetTitle)"
            ></i>
        </a>

        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId), gtm('servicemenu', 'Service Menu collapse ',data.WidgetId, data.widgetTitle)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-content">
          <ul class="accordion">
            <li
              v-for="(state, index) in status"
              :key="index"

            >
              <div class="service" >
                <div
                  class="service-name"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Klik og se mere"
                  @click.prevent="toogleInfo(index)"
                >
                  <p>{{ state.Service}}</p>
                </div>
                <div v-if="state.ServiceStatus == 'Up' " class="status up">up</div>
                <div v-else class="status down">down</div>
              </div>
              <transition name="fade" >
                <div @click="toogleInfo(index)" class="inner service-info" v-if="state.ServiceWarnings.length > 0" >
                  <small>{{ state.ServiceWarnings[0].headlineDK }} {{ state.ServiceWarnings[0].time_from }}</small>
                  <transition name="fade">
                    <div :class="{active: state.showinfo}">
                      <p>{{ state.ServiceWarnings[0].addInfoDK }}</p>
                      <a target="_blank" :href="state.Link" @click="gtm('cta', 'cta Status link ' + state.Service, data.WidgetId, data.widgetTitle)">
                        <div class="btn btn-light">
                          <i class="icon-arrow-link"></i>
                          {{ data.seemore}}
                        </div>
                      </a>
                    </div>
                  </transition>
                </div>
              </transition>
              <transition name="fade">
                <div @click="toogleInfo(index)" class="inner service-info" v-show="state.ServiceWarningsComming.length > 0">
                  <small>{{ state.ServiceWarningsComming[0].time_from | formatDateTime }} - {{ state.ServiceWarningsComming[0].time_to | formatTime }}: {{ state.ServiceWarningsComming[0].headlineDK }} </small>
                  <transition name="fade">
                    <div class="info" v-if="infotab == index">
                      <p v-if="state.ServiceWarningsComming[0].addInfoDK.constructor !== Object">{{ state.ServiceWarningsComming[0].addInfoDK }}</p>
                      <a target="_blank" :href="state.Link" @click="gtm('cta', 'cta Status link ' + state.Service, data.WidgetId, data.widgetTitle)">
                        <div class="btn btn-light">
                          <i class="icon-arrow-link"></i>
                          {{ data.seemore}}
                        </div>
                      </a>
                    </div>
                    </transition>
                </div>
              </transition>
</li>
          </ul>
        </div>
      </div>
    </transition>
    <transition name="slide" v-bind:css="false">
      <div class="widget-footer" v-show="open">
        <div class="btn-group">
          <a
            class="btn btn-light"
            v-for="(link, index) in JSON.parse(data.linksTab1)"
            :key="index"
            :target="link.newWindow ? '_blank': null"
            :href="link.link"
            @click="gtm('cta', 'cta Footer link: ' + '('+ link.caption +') - ' + link.link, data.WidgetId, data.widgetTitle)"
          >
            <i class="icon-arrow-link"></i>
            {{ link.caption }}
          </a>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import Vue from "Vue";
import axios from "axios";

//Mixins
import optionsMixin from "../../mixins/mixins.js";

export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: {},
  data() {
    return {
      // widget var
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      status: [],
      infotab: null,
    };
  },
    created: function () {
    setInterval(() => this.getStatus(), 300000);
    this.resize();
  },
    beforeMount: function () {
    this.getStatus();
  },
    methods: {
      toogleInfo: function (index) {
        this.infotab = this.infotab == index ? null : index;
    },
    getStatus: function () {
      axios
        .get(this.data.baseUrl)
        .then(response => {
          this.status = response.data.items;
          this.status.forEach(function (e) {
            e.showinfo = true;
          });
          this.resize();
        })
        .catch(error => console.log(error));
    }
 }
};
</script>
<style lang="scss">


.systemstatus {
  .accordion {
    width: 100%;
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 15px;

    .inner {
      padding-left: 0em;
      overflow: hidden;
      color: $grey;
    }

    li {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: 1px solid $dark-grey;
      padding: 15px 0;
      cursor: pointer;

      p {
        font-size: 14px;
        line-height: 20px;
      }

      a.toggle {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 19px;
        background: $white;
        color: $black;
        padding: 1.2em;
        transition: background 0.3s ease;
        box-shadow: 0 1px 8px 0 rgba($black, 0.1);
        transition: $transition;

        &:hover {
          background: rgba($orange, 0.9);
          color: $white;
          text-decoration: none;

          .checkmark {
            background-color: $white;
            border-color: $white;
          }
        }
      }
      .checkmark {
        display: inline-block;
        position: relative;
        margin-right: 20px;
        width: 30px;
        height: 30px;
        border: 1px solid $orange;
        border-radius: 50%;
        transition: $transition;
      }

      .checked:after {
        content: "";
        background-color: $orange;
        position: absolute;
        width: 12px;
        height: 12px;
        left: 8px;
        top: 8px;
        border-radius: 50px;
      }
    }
  }

  .service {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: default;

    &-name {
      p {
        color: $white;
        margin: 0;
        cursor: pointer;
      }

      small {
        color: $dark-grey;
        font-size: 12px;
      }
    }

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $grey;
      padding: 14px;
      color: $white;
      height: 0px;
      width: 20px;
      border-radius: 40px;
      font-size: 10px;
      text-transform: uppercase;

      &.down {
        border-color: $red;
      }
      &.up {
        border-color: $green;
      }
    }
  }
  m
  .service-info {
    p,
    small {
      color: $grey;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .info {
    margin-top: 20px;
  }
}

  // transition
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.2s;
  }
.fade-enter {
  margin-bottom: 0px;
}
.fade-leave-to {
  margin-bottom: 0;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
