<template>
  <div class="widget" v-if="data">
    <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
              @click.prevent="gtm('servicemenu','Service Menu drag ',data.WidgetId, data.widgetTitle)"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle), gtm('servicemenu','Service Menu remove ',data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i
            class="icon-widget-more"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_more')"
            @click.prevent="gtm('servicemenu', 'Service Menu top ',data.WidgetId, data.widgetTitle)"
            ></i>
        </a>

        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId), gtm('servicemenu', 'Service Menu collapse ',data.WidgetId, data.widgetTitle)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-menu">
          <ul>
            <li :class="{active: this.tab == 1}" @click.prevent="changeTab(1, data.WidgetId, data.widgetTitle)">
              <a>{{ data.firstTabName }}</a>
            </li>
            <li :class="{active: this.tab == 2}" @click.prevent="changeTab(2, data.WidgetId, data.widgetTitle)">
              <a>{{ data.secondTabName }}</a>
            </li>
          </ul>
        </div>
        <div class="widget-content" v-show="this.tab == 1">
          <div class="filter-wrapper">
            <div class="filter">
              <!-- filter 1-->
              <widget-dropdown
                :title="data.dropdownTap1Place1"
                :options="data.dropdownOne"
                @tags="materialetab1values = $event"
              ></widget-dropdown>
            </div>
            <div class="filter">
              <!-- filter 2-->
              <widget-dropdown-single
                :class="{ notActive: materialetab1values.length == 0}"
                :title="data.dropdownTap1Place2"
                :options="materialetab1values"
                @selectedValue="selectedValuetab1 = $event"
                @click="resize()"
              ></widget-dropdown-single>
            </div>
          </div>

          <div class="btn-align-right">
            <a
              target="_blank"
              :href="this.selectedValuetab1.value"
              :class="{ notActive: this.selectedValuetab1.value == undefined}"
              @click="gtm('cta', 'cta File tab 1: ' + selectedValuetab1.value ,data.WidgetId, data.widgetTitle), saveToHistory({title: selectedValuetab1.name, link: selectedValuetab1.value, widgetId: data.WidgetId,tabNumber: tab, token: $route.params.accessToken})"
            >
              <div
                class="btn-widget"

              >{{ data.downloadButtonText}}</div>
            </a>
          </div>

          <a
            @click.prevent="showHistory()"
            v-show="historyList.filter((x, i) => { return x.tabNumber == this.tab}).length > 0"
          >
            <i :class="(history) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            <p>{{ data.histroyTab1Text }}</p>
          </a>
          <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="history">
              <li v-for="(link, index) in historyList" :key="index" v-if="link.tabNumber == tab">
                <a target="_blank" :href="link.link">{{link.title}}</a>
              </li>
            </ul>
          </transition>
        </div>
        <div class="widget-content" v-show="this.tab == 2">
          <div class="filter-wrapper">
            <div class="filter">
              <!-- filter 1-->
              <widget-dropdown
                :title="data.dropdownTap2Place1"
                :options="data.dropdownTwo"
                @tags="materialetab2values = $event"
              ></widget-dropdown>
            </div>
            <div class="filter">
              <!-- filter 2-->
              <widget-dropdown-single
                :class="{ notActive: materialetab2values.length == 0}"
                :title="data.dropdownTap2Place2"
                :options="materialetab2values"
                @selectedValue="selectedValuetab2 = $event"
              ></widget-dropdown-single>
            </div>
          </div>

          <div class="btn-align-right">
            <a
              target="_blank"
              :href="this.selectedValuetab2.value"
              @click="gtm('cta', 'cta File tab 2: ' + selectedValuetab2.value, data.WidgetId, data.widgetTitle), saveToHistory({title: selectedValuetab2.name, link: selectedValuetab2.value, widgetId: data.WidgetId,tabNumber: tab, token: $route.params.accessToken})"
            >
              <div
                class="btn-widget"
                :class="{ notActive: this.selectedValuetab2.value == undefined}"
              >{{ data.downloadButtonText2 }}</div>
            </a>
          </div>

          <a
            @click.prevent="showHistory()"
            v-show="historyList.filter((x, i) => { return x.tabNumber == this.tab }).length > 0"
          >
            <i :class="(history) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            {{ data.histroyTab2Text }}
          </a>
          <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="history">
              <li v-for="(link, index) in historyList" :key="index" v-if="link.tabNumber == tab">
                <a target="_blank" :href="link.link">{{link.title}}</a>
              </li>
            </ul>
          </transition>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
import Dropdown from "../widget-components/Dropdown.vue";
import DropdownSingle from "../widget-components/Dropdown-single.vue";

//Mixins
import optionsMixin from "../../mixins/mixins.js";

export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: {
    "widget-dropdown": Dropdown,
    "widget-dropdown-single": DropdownSingle
  },
  data() {
    return {
      // widget variables
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      tab: this.data.Tab != null ? this.data.Tab : "1",
      history: false,
      historyList: [],
      materialetab1values: [],
      materialetab2values: [],
      selectedValuetab1: {},
      selectedValuetab2: {}
    };
  },
created: function () {
    this.$watch("materialetab1values", function() {
        this.selectedValuetab1 = {}
    })
    this.$watch("materialetab2values", function() {
        this.selectedValuetab2 = {}
    })
    this.resize();
    this.historyList =
      this.data.UserLinks != null
        ? JSON.parse(this.data.UserLinks).reverse()
        : [];
  },
  methods: {
hide: function () {
      this.show = false;
    },
    clear(tab){
      if(tab == 1){
        this.selectedValuetab1 = {}
      } else {
        this.selectedValuetab2 = {}
      }
    }
  }
};
</script>

<style lang="scss" scoped>


.widget-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;
}

.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}

.filter-wrapper {
  .filter {
    margin-bottom: 20px;

    .app-dropdown {
      width: 100%;
    }
  }
}

// transition
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s;
}
.slide-enter {
  margin-bottom: 0px;
}
.slide-leave-to {
  margin-bottom: 0;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
