<template>
  <div class="widget" v-if="data">
 <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
              @click.prevent="gtm('servicemenu','Service Menu drag ',data.WidgetId, data.widgetTitle)"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle), gtm('servicemenu','Service Menu remove ',data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i
            class="icon-widget-more"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_more')"
            @click.prevent="gtm('servicemenu', 'Service Menu top ',data.WidgetId, data.widgetTitle)"
            ></i>
        </a>

        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId), gtm('servicemenu', 'Service Menu collapse ',data.WidgetId, data.widgetTitle)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-content">
          <ul class="widget-list modal-list shortcuts-list">
            <link-layout
              :layout="this.layout"
              :col-num="1"
              :row-height="25"
              :is-draggable="false"
              :is-resizable="false"
              :vertical-compact="true"
              :use-css-transforms="false"
              :autoSize="true"
              @layout-updated="layoutUpdatedEvent"
            >
              <link-item
                v-for="(item, index) in layout"
                :key="index"
                :x="0"
                :y="item.y"
                :w="1"
                :h="1"
                :i="item.i"

                drag-allow-from=".vue-draggable-handle"
                drag-ignore-from=".no-drag"
              >
                <li :title="links[index].link">
                  <a @click="gtm('cta', 'cta personal link: ' + '(' + links[index].title + ') - ' + links[index].link, data.WidgetId, data.widgetTitle )" target="_blank" :href="links[index].link">{{ links[index].title}}</a>
                </li>
              </link-item>
            </link-layout>
          </ul>
        </div>
      </div>
    </transition>
    <transition name="slide" v-bind:css="false">
      <div class="widget-footer" v-show="open">
        <div class="btn-group">
          <div class="group">
            <a @click.prevent="addModal({length: layout.length}), gtm('cta', 'cta personal link: add link', data.WidgetId, data.widgetTitle )">
              <div class="btn-widget btn-icon">
                <i class="icon-plus"></i>
                {{ data.addButton }}
              </div>
            </a>
            <a @click.prevent="editModal(), gtm('cta', 'cta personal link: edit link', data.WidgetId, data.widgetTitle )">
              <div class="btn-widget btn-clear">{{ data.editButton }}</div>
            </a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
import List from "../widget-components/List.vue";
import axios from "axios";
//Mixins
import optionsMixin from "../../mixins/mixins.js";

import VueGridLayout from "vue-grid-layout";

var LinkLayout = VueGridLayout.GridLayout;
var LinkItem = VueGridLayout.GridItem;
export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: {
    "widget-list": List,
    "link-layout": LinkLayout,
    "link-item": LinkItem
  },
  data() {
    return {
      // widget variables
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      links: [],
      newLinks: [],
      layout: []
    };
  },
    created: function () {

    this.linkList();
    this.linkGrid();
    this.resize();
    this.$watch("links", function() {
        this.resize();
    })
  },
  mounted: function () {
    this.$watch("links", function() {
      var vm = this;
      setTimeout(function() {
        vm.resize();
      }, 500);

    });
    this.resize();
    this.$root.$on("updateAddLinks", data => {
      if(data.updatedLink){
        this.links.forEach(el => {
          if(el.linkId === data.id){
            el.title = data.title
            el.link = data.link
          }
        });
      }else {
        this.layout.push({
          x: 0,
          y: 99,
          w: 1,
          h: 1,
          i: data.id,
        });
        this.links.push({
          link: data.link,
          linkId: data.id,
          order: data.order,
          title: data.title,
          tabNumber: 1
        });
      }


      this.resize();
    });
  },
  methods: {
      addModal: function (length) {
      this.$modal.show("addEditShortcut-modal", {
        title: this.data.addButton + " Link",
        widgetId: this.data.WidgetId,
        link: length
      });
    },
    editModal: function () {
      this.$modal.show("shortcut-modal", {
        layout: this.layout,
        links: this.links,
        widgetId: this.data.WidgetId,
        title: this.data.widgetTitle
      });
    },
    linkList: function () {
      var vm = this;
      this.links = this.data.UserLinks != null ? JSON.parse(this.data.UserLinks) : [];
      var newlinks = [];
      if (this.links.length == 0) {
        var globalLinks = this.data.shortcutsItems != null ? JSON.parse(this.data.shortcutsItems) : [];
        var count = 0;
        globalLinks.forEach(e => {
          // add the new link to array "Newlinks"
          var link = {
            title: e.title,
            link: e.link,
            linkId: this.uniqueID(),
            token: this.$route.params.accessToken,
            order: count,
            widgetId: this.data.WidgetId,
            tabNumber: "1",
            pvsLink: 0,
            showLink: "1"
          };
          newlinks.push(link);
          count++;
        });
        this.links = newlinks

        var url = this.$localUrl + "/umbraco/api/Shortcut/Add";
        axios
          .post(url, newlinks, {
            headers: {
              "Content-type": "application/json"
            }
          })
          .then(function (response) {
            if (response.data.Success) {
              console.log("Links added")
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      }
      else {
        if(this.data.Open == "1") {
          setTimeout(function () {
          vm.resizeFold(vm.data.WidgetId)

        }, 500);
        setTimeout(function () {
          vm.resizeFold(vm.data.WidgetId)

        }, 1000);
        }

      }
      vm.resize()
    },
    linkGrid: function () {
      this.layout = [];
      this.links.forEach(e => {
        var linkLayout = {
            x: 0,
            y: e.order != null ? parseInt(e.order) : 99,
            w: 1,
            h: 1,
            i: e.linkId
          };
          this.layout.push(linkLayout);
      });
      setTimeout(
        function() {
          this.resize();
        }.bind(this),
        500
      );
    },
      layoutUpdatedEvent: function (newLayout) {

    }
    },
    watch: {

    }
};
</script>

<style lang="scss"scoped>

.widget-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;

  .modal-list {
    li {
      border: none;

      a {
        color: $white;
      }
    }
  }
}
.shortcuts-list {
  li {
    &:before {
      top: 3px;
    }
  }
}
.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}

</style>
