<template>
  <div id="app">
    <shortcut-modal/>
    <addEditShortcut-modal/>
    <help-modal/>
    <news-modal/>
    <info-modal/>
    <feed-modal/>
    <price-modal/>
    <dialog-modal/>
    <removeuser-modal/>
    <router-view></router-view>
  </div>
</template>
<script>
import ShortcutModal from "./components/modal/ShortcutModal.vue";
import AddEditShortcutModal from "./components/modal/AddEditShortcutModal.vue";
import HelpModal from "./components/modal/HelpModal.vue";
import NewsModal from "./components/modal/NewsModal.vue";
import InfoModal from "./components/modal/InfoModal.vue";
import FeedModal from "./components/modal/FeedModal.vue";
import PriceModal from "./components/modal/PriceModal.vue";
import DialogModal from "./components/modal/DialogModal.vue";
import RemoveuserModal from "./components/modal/RemoveuserModal.vue";

export default {
  components: {
    "shortcut-modal": ShortcutModal,
    "addEditShortcut-modal": AddEditShortcutModal,
    "help-modal": HelpModal,
    "news-modal": NewsModal,
    "info-modal": InfoModal,
    "feed-modal": FeedModal,
    "price-modal": PriceModal,
    "dialog-modal":DialogModal,
    "removeuser-modal": RemoveuserModal
  },
  data() {
    return {};
    }
    
};
</script>
