.accordion {
	width: 100%;
	list-style: none;
	padding: 0;

	.inner {
		padding-left: 1em;
		overflow: hidden;
		display: none;
		opacity: 0;
		&.show {
			/*display: block;*/
		}
	}

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		// margin: .5em 0;
		a.toggle {
			width: 100%;
			display: flex;
			align-items: center;
			font-size: 14px;
			line-height: 19px;
			background: $white;
			color: $black;
			padding: 1.2em;
			transition: background .3s ease;
			box-shadow: 0 1px 8px 0 rgba($black, 0.1);
			transition: $transition;

			&:hover {
				background: rgba($orange, 0.9);
				color: $white;
				text-decoration: none;

				.checkmark {
					background-color: $white;
					border-color: $white;
				}
			}
		}
		.checkmark {
			display: inline-block;
			position: relative;
			margin-right: 20px;
			width: 30px;
			height: 30px;
			border: 1px solid $orange;
			border-radius: 50%;
			transition: $transition;

		}
		
		.checked:after {
			content: '';
		    background-color: $orange;
		    position: absolute;
		    width: 12px;
		    height: 12px;
		    left: 8px;
		    top: 8px;
		    border-radius: 50px;
		}
	}

	ol {
		li {
			display: list-item;
	 		list-style-position: outside;
		}
	}
}