.categoryprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    h2, p, small {
        text-align: center;
        color: $black;
        font-weight: normal;
    }
	h2 {
		line-height: 38px;
	}
	span {
		font-family: bold;
	}	

    small {
        color: $grey;
    }
	
    .btn {
    	margin-bottom: 25px;
    }
	
	.btn-group {
		margin-bottom: 20px;
		width: 100%;
		justify-content: center;
		
		.btn {
			margin: 0;
		}
	}
    
    .cards {
    	display: flex;
		margin: 40px 0 45px 0;

		@media (max-width: $small-screen) {
			flex-direction: column;

		}
		.card-wrapper {
	        position: relative;
	        width: 235px;
	        height: 230px;
	        float: left;
	        margin-right: 25px;

			@media (max-width: $small-screen) {
				margin-right: 0;
				margin-bottom: 15px;
			}
			
	        .card-content {
	        	display: flex;
	        	flex-direction: column;
	        	align-item: center;
	        	justify-content: center;
	        	width: 100%;
	        	height: 100%;
	        	box-shadow: 0 4px 12px rgba($black, .16);
	        	
		        label {
		        	display: flex;
		        	justify-content: center;
		        	align-items: center;
		        	flex-direction: column;
		        	height: 200px;
		        	width: 100%;
		        	margin-bottom: 0;
		            cursor: pointer;
					
					i {
						display: flex;
						align-items: center;
						justify-content: center;
						border: 2px solid $orange;
						border-radius: 50%;
						padding: 20px;
						font-size: 36px;
						color: $orange;
					}
		            p {
		            	position: absolute;
		            	bottom: 20px;
		            	margin-bottom: 0;
		            }
		        }
		    }

		    .c-card {
		        position: absolute;
		        top: 0;
		        left: 0;
		        opacity: 0;
		        visibility: hidden;

		        ~.card-content {
		            transition: $transition;
		        }
				
				&:hover~.card-content {
					background-color: $grey;
					i, p {
		            	color: $white;
		            	border-color: $white;
		            }
				}

		        &:checked~.card-content {
		            background-color: $orange;

		            i, p {
		            	color: $white;
		            	border-color: $white;
		            }
		        }
		    }
	    }
    }
}