.loader {
	margin: 20px 0;

	small {
		font-size: 12px;
		line-height: 17px;
		color: $white;
	}

	.loading-dots {
		text-align: center;
		width: 100%;
		
		&--dot {
			margin: 0 7px;
			animation: dot-keyframes 1.5s infinite ease-in-out;
			background-color: $white;
			border-radius: 10px;
			display: inline-block;
			height: 10px;
			width: 10px;

			&:nth-child(2) {
				animation-delay: .5s;
			}

			&:nth-child(3) {
				animation-delay: 1s;
			}
		}
	}
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}