.noticication {
    display: flex;
    position: relative;
    top: 70px;
    background-color: #f1f2f2;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.75);

    @media (max-width: $small-screen) {
        padding: 5px 10px;
        height: auto;
        flex-direction: column;
        width: 100%;
    }
    .msg {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 14px;
        line-height: 19px;
        padding: 20px 47px;
        width: 100%;

        span {
            width: 20%;
        }
        .description {
            width: 100%;

            p {
                margin: 0;
            }
        }

        i {
            color: $orange;
            font-size: 34px;
            margin-right: 15px;
        }
        span {
            font-family: bold;
        }
        p {
            margin-bottom: 0;
        }

        @media (max-width: $small-screen) {
            flex-direction: column;
            margin: 10px 0;

            i {
                margin-bottom: 10px;
            }
            p {
                text-align: center;
            }
        }
    }

    .btn {
        background-color: $orange;
        max-width: 110px;
        margin-right: 47px;
        &:hover {
            color: $white;
            background-color: darken($orange, 5%);
            border-color: $white;
        }

        @media (max-width: $small-screen) {
            margin-bottom: 10px;
        }
    }
}
