html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// @import "components/signup-done.scss";
// @import "components/signup.scss";
// @import "components/restoreprofile.scss";
// @import "components/category.scss";
// @import "components/forms.scss";
// @import "components/accordion.scss";
// @import "components/notification.scss";
@import "utils/_index.scss";
@import "components/loader.scss";
@import "components/widget/global.scss";
@import "components/forms.scss";
@import "components/notification.scss";
@import "components/modal/global.scss";
// @import "components/widget/widget-news.scss";
// @import "components/widget/systemstatus.scss";
// @import "components/widget/systemstatus.scss";

// @import "components/modal/global.scss";
// @import "components/modal/m-dialog.scss";
// @import "components/modal/m-guide.scss";
// @import "components/modal/m-article.scss";
// @import "components/modal/m-price-list.scss";

// @import "components/settings-page/index.scss";


